<%- include('includes/header.ejs') %>
<link rel="stylesheet" href="/css/kezdolap.css">
<link rel="stylesheet" href="/css/buttons.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/fooldal.css">
<link rel="stylesheet" href="/css/select.css">
<link rel="stylesheet" href="/css/card.css">
<script src="https://unpkg.com/vue@next" defer></script>
<script src="/js/fooldal.js" defer></script>
</head>
</head>
<body>
    <%- include('includes/navbar_fooldal.ejs') %>
    <h1 class="font">Lekérdezés</h1>

    <div id="cars">
        <select v-model="selected" id="cusSelectbox" name="options">
            <option value="R" selected>Rendszám</option>
            <option value="A">Alvázszám</option>
        </select>
        </label>
        <form method="post" action="/fooldal"> 
            <div v-if="valasztott == 'R'">  
                <input maxlength='7' value='' class="rendszam" id="rendszam" name="rendszam" type="text"/>
                <input type="text" id="R" name="R" hidden value="True">
                <input type="text" id="A" name="A" hidden value="False">


            </div>
            <div v-if="valasztott == 'A'">
                <input maxlength='17' value='' class="alvazszam" id="alvazszam" name="alvazszam" type="text"/>
                <input type="text" id="A" name="A" hidden value="True">
                <input type="text" id="R" name="R" hidden value="False">

            </div>
            <div class="centered">
                <button type="submit" class="join_btn joinform">Keresés</button>
            </div>  
            <% if (lekerderedm_rendsz != undefined) {%>
                <article class="postcard dark red">
                    <a class="postcard__img_link" href="#">
                        <img class="postcard__img" src="img/seat.jpg" alt="Image Title" />	
                    </a>
                    <div class="postcard__text">
                        <h1 class="postcard__title red"><a href="#"><%= lekerderedm_rendsz.Gyarto %> <%= lekerderedm_rendsz.Tipus %></a></h1>
                        <div class="postcard__bar"></div>
                        <div class="postcard__preview-txt">
                            <p>Évjárat: <%= lekerderedm_rendsz.Evjarat %></p>
                            <p>Állapot: <%= lekerderedm_rendsz.Allapot %></p>
                            <p>Futott km: <%= lekerderedm_rendsz.Futottkm %></p>
                            <p>Okmányok jellege: <%= lekerderedm_rendsz.Okmanyok %></p>
                            <p>Gumiabroncs fajtája: <%= lekerderedm_rendsz.Gumiabroncs %></p>
                        </div>
                    </div>
                </article>
            <% } %>
        
            <% if (lekerderedm_alvaz != undefined) {%>
                <article class="postcard dark red">
                    <a class="postcard__img_link" href="#">
                        <img class="postcard__img" src="img/seat.jpg" alt="Image Title" />	
                    </a>
                    <div class="postcard__text">
                        <h1 class="postcard__title red"><a href="#"><%= lekerderedm_alvaz.Gyarto %> <%= lekerderedm_alvaz.Tipus %></a></h1>
                        <div class="postcard__bar"></div>
                        <div class="postcard__preview-txt">
                            <p>Évjárat: <%= lekerderedm_alvaz.Evjarat %></p>
                            <p>Állapot: <%= lekerderedm_alvaz.Allapot %></p>
                            <p>Futott km: <%= lekerderedm_alvaz.Futottkm %></p>
                            <p>Okmányok jellege: <%= lekerderedm_alvaz.Okmanyok %></p>
                            <p>Gumiabroncs fajtája: <%= lekerderedm_alvaz.Gumiabroncs %></p>
                        </div>
                    </div>
                </article>
            <% } %>
        </form>
    </div>   
        
</body>
<%- include('includes/footer.ejs') %>