<%- include('includes/header.ejs') %>
<link rel="stylesheet" href="/css/kezdolap.css">
<link rel="stylesheet" href="/css/buttons.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/fooldal.css">
<link rel="stylesheet" href="/css/select.css">
<link rel="stylesheet" href="/css/card.css">
<script src="https://unpkg.com/vue@next" defer></script>
<script src="/js/fooldal.js" defer></script>
</head>
</head>
<body>
    <%- include('includes/navbar_fooldal.ejs') %>

    <!--Lekérdezés -->   

    <h1 class="font">Kérdezze le a járművet</h1>

    <div id="cars" class="justify-content-center centered">
        <select v-model="selected" id="cusSelectbox" name="options">
            <option value="" selected disabled>Rendszám/Alvázszám</option>
            <option value="R">Rendszám</option>
            <option value="A">Alvázszám</option>
        </select>
        <div v-if="valasztott == 'R'" class="justify-content-center centered">
            <select v-model="country" id="cusSelectbox" name="options" class="justify-content-center">
                <option value="" selected disabled>Ország</option>
                <option value="M">Magyar</option>
                <option value="N">Német</option>
                <option value="A">Angol</option>
            </select>
        </div>
        </label>
        <form method="post" action="/fooldal"> 
            <div v-if="valasztott == 'R' && country_valasztott == 'M'">  
                <img src="img/magyar.png" class="landscape">
                <input maxlength='7' value='' class="rendszam" id="rendszam" name="rendszam" type="text" placeholder="   -   "/>
                <input type="text" id="R" name="R" hidden value="True">
                <input type="text" id="A" name="A" hidden value="False">
                <div class="centered keresBTN">
                    <button type="submit" class="join_btn joinform">Keresés</button>
                </div> 
            </div>
            <div v-if="valasztott == 'R' && country_valasztott == 'N'">
                <img src="img/nemet.png" class="landscape">
                <input maxlength='8' value='' class="rendszam nemet" id="rendszam" name="rendszam" type="text"/>
                <input type="text" id="R" name="R" hidden value="True">
                <input type="text" id="A" name="A" hidden value="False">
                <div class="centered keresBTN">
                <button type="submit" class="join_btn joinform">Keresés</button>
                </div> 
            </div>
            <div v-if="valasztott == 'R' && country_valasztott == 'A'">  
                <img src="img/angol.png" class="landscape">
                <input maxlength='7' value='' class="rendszam" id="rendszam" name="rendszam" type="text"/>
                <input type="text" id="R" name="R" hidden value="True">
                <input type="text" id="A" name="A" hidden value="False">
                <div class="centered keresBTN">
                <button type="submit" class="join_btn joinform">Keresés</button>
                </div> 
            </div>
            <div v-if="valasztott == 'A'">
                <input maxlength='17' value='' class="alvazszam" id="alvazszam" name="alvazszam" type="text"/>
                <input type="text" id="A" name="A" hidden value="True">
                <input type="text" id="R" name="R" hidden value="False">
                <div class="centered keresBTN">
                    <button type="submit" class="join_btn joinform">Keresés</button>
                </div> 
            </div>
             
            <!--Kiírása a sikeres lekérdezésnek-->   
            <div v-if="valasztott == ''">
                <% if (lekerderedm_rendsz != undefined) {%>
                    <article class="postcard dark red">
                        <a class="postcard__img_link" href="#">
                            <img class="postcard__img" src="<%= lekerderedm_rendsz.Kepcim %>"alt="Image Title" />	
                        </a>
                        <div class="postcard__text">
                            <h1 class="postcard__title red"><a href="#"><%= lekerderedm_rendsz.Gyarto %> <%= lekerderedm_rendsz.Tipus %></a></h1>
                            <div class="postcard__bar"></div>
                            <div>
                                <img src="img/<%= lekerderedm_rendsz.Megbizhatosag %>.png" alt="" class="ertekeles">
                            </div>
                            <div class="postcard__preview-txt">
                                <p>Évjárat: <%= lekerderedm_rendsz.Evjarat %></p>
                                <p>Állapot: <%= lekerderedm_rendsz.Allapot %></p>
                                <p>Futott km: <%= lekerderedm_rendsz.Futottkm %></p>
                                <p>Okmányok jellege: <%= lekerderedm_rendsz.Okmanyok %></p>
                                <% if(lekerderedm_rendsz.VezetettSzervK == 0) { %>
                                    <p>Az autó nem rendelkezik vetzetett szervizkönyvvel</p>
                                <% } %>
                                <% if(lekerderedm_rendsz.VezetettSzervK == 1) { %>
                                    <p>Az autó vetzetett szervizkönyvvel rendelkezik</p>
                                <% } %>
                                <% if(lekerderedm_rendsz.Torott == 0) { %>
                                    <p>Az autónak nincs ismert kártörténete</p>
                                <% } %>
                                <% if(lekerderedm_rendsz.Torott == 1) { %>
                                    <p>Az autó törve volt</p>
                                <% } %>
                                <p>Ismert típushibák: <%= lekerderedm_rendsz.Tipshiba %></p>
                                <p>Ismert típushibák: <%= lekerderedm_rendsz.Muszakierv.replace(/-/g,'.') %></p>
                                <p>Az autó <%= lekerderedm_rendsz.Gumiabroncs %> gumiabroncscsal van szerelve.</p>
                                <p>Más gumiabroncsot is szeretne az autóra? Látogassa meg <a href="/termekek"><u>webshopunkat</u></a></p>
                            </div>
                        </div>
                    </article>
                <% } %>
            
                <% if (lekerderedm_alvaz != undefined) {%>
                    <article class="postcard dark red">
                        <a class="postcard__img_link" href="#">
                            <img class="postcard__img" src="<%= lekerderedm_alvaz.Kepcim %>" alt="Image Title" />	
                        </a>
                        <div class="postcard__text">
                            <h1 class="postcard__title red"><a href="#"><%= lekerderedm_alvaz.Gyarto %> <%= lekerderedm_alvaz.Tipus %></a></h1>
                            <div class="postcard__bar"></div>
                            <div>
                                <img src="img/<%= lekerderedm_alvaz.Megbizhatosag %>.png" alt="" class="ertekeles">
                            </div>
                            <div class="postcard__preview-txt">
                                <p>Évjárat: <%= lekerderedm_alvaz.Evjarat %></p>
                                <p>Állapot: <%= lekerderedm_alvaz.Allapot %></p>
                                <p>Futott km: <%= lekerderedm_alvaz.Futottkm %></p>
                                <p>Okmányok jellege: <%= lekerderedm_alvaz.Okmanyok %></p>
                                <% if(lekerderedm_alvaz.VezetettSzervK == 0) { %>
                                    <p>Az autó nem rendelkezik vetzetett szervizkönyvvel</p>
                                <% } %>
                                <% if(lekerderedm_alvaz.VezetettSzervK == 1) { %>
                                    <p>Az autó vetzetett szervizkönyvvel rendelkezik</p>
                                <% } %>
                                <% if(lekerderedm_alvaz.Torott == 0) { %>
                                    <p>Az autónak nincs ismert kártörténete</p>
                                <% } %>
                                <% if(lekerderedm_alvaz.Torott == 1) { %>
                                    <p>Az autó törve volt</p>
                                <% } %>
                                <p>Ismert típushibák: <%= lekerderedm_alvaz.Tipshiba %></p>
                                <p>Ismert típushibák: <%= lekerderedm_alvaz.Muszakierv.replace(/-/g,'.') %></p>
                                <p>Az autó <%= lekerderedm_alvaz.Gumiabroncs %> gumiabroncscsal van szerelve.</p>
                                <p>Más gumiabroncsot is szeretne az autóra? Látogassa meg <a href="/termekek"><u>webshopunkat</u></a></p>
                            </div>
                        </div>
                    </article>
                <% } %>
            </div>
            <!--Ha nincs ilyen az adatbázisban-->
            <div v-if="valasztott == ''">
                <% if (lekerderedm_rendsz == undefined && kerdezettER == true) {%>
                    <article class="postcard dark red">
                        <a class="postcard__img_link" href="#">
                            <img class="postcard__img" src="img/felkiáltójel.jpg" alt="Image Title" />	
                        </a>
                        <div class="postcard__text">
                            <h1 class="postcard__title red">Sajnos az adatbázisunkban nincs ilyen rendszámú autó, próbáljon meg másikat vagy látogasson vissza később, adatbázisunk folyamatosan frissül!</h1>
                        </div>
                    </article>
                <% } %>
            </div>
            <div v-if="valasztott == ''">
                <% if (lekerderedm_alvaz == undefined && kerdezettEA == true) {%>
                    <article class="postcard dark red">
                        <a class="postcard__img_link" href="#">
                            <img class="postcard__img" src="img/felkiáltójel.jpg" alt="Image Title" />	
                        </a>
                        <div class="postcard__text">
                            <h1 class="postcard__title red">Sajnos az adatbázisunkban nincs ilyen alvázszámú autó, próbáljon meg másikat vagy látogasson vissza később, adatbázisunk folyamatosan frissül!</h1>
                        </div>
                    </article>
                <% } %>
            </div>

            <!--Útmutató a megfelelő beviteli formához--> 

            <div v-if="valasztott == 'R' && country_valasztott != ''">
                    <article class="postcard dark red info">
                        <a class="postcard__img_link" href="#">
                            <img class="postcard__img" src="img/info.png" alt="Image Title" />	
                        </a>
                        <div class="postcard__text">
                            <h1 class="postcard__title red">Kérjük ilyen formában adja meg a rendszámot</h1>
                            <div class="postcard__bar"></div>
                            <div class="postcard__preview-txt">
                                <p class="rendszam_pelda"><img src="img/magyar.png" alt="" class="landscape"> : SGA-030</p>
                                <p class="rendszam_pelda"><img src="img/nemet.png" alt="" class="landscape"> : BGA4030N</p>
                                <p class="rendszam_pelda"><img src="img/angol.png" alt="" class="landscape"> : FD013GH</p>
                                <p><%= lekerderedm_rendsz %></p>
                            </div>
                        </div>
                    </article>
            </div>
            <div v-if="valasztott == 'A'">
                    <article class="postcard dark red info">
                        <a class="postcard__img_link" href="#">
                            <img class="postcard__img" src="img/felkiáltójel.jpg" alt="Image Title" />	
                        </a>
                        <div class="postcard__text">
                            <h1 class="postcard__title red">Kérjük ilyen formában adja meg az alvázszámot</h1>
                            <div class="postcard__bar"></div>
                            <div class="postcard__preview-txt">
                                <p class="rendszam_pelda"><img src="img/alvazszam.png" alt="" class="landscape2"> 12HDD45JHB33NK9L5</p>
                                <p><%= lekerderedm_alvaz %></p>
                            </div>
                        </div>
                    </article>
            </div>
        </form>
    </div>   
</body>
<%- include('includes/footer.ejs') %>