<%- include('includes/header.ejs') %>
<link rel="stylesheet" href="/css/kezdolap.css">
<link rel="stylesheet" href="/css/buttons.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/fooldal.css">
<link rel="stylesheet" href="/css/select.css">
<link rel="stylesheet" href="/css/card.css">
<script src="https://unpkg.com/vue@next" defer></script>
<script src="/js/fooldal.js" defer></script>
</head>
</head>
<body>
    <%- include('includes/navbar_fooldal.ejs') %>
    <h1>Főoldal</h1>

    <div id="cars">
        <label class="custom-select" for="styledSelect1">
        <select v-model="selected" id="styledSelect1" name="options">
            <option value="R" selected>Rendszám</option>
            <option value="A">Alvázszám</option>
        </select>
        </label>
        <form method="post" action="/fooldal"> 
            <div v-if="valasztott == 'R'">
                <input maxlength='7' value='ABC-123' class="rendszam" id="rendszam" name="rendszam" type="text"/>
            </div>
            <div v-if="valasztott == 'A'">
                <input maxlength='17' value='' class="alvazszam"/>
            </div>
            <% if (lekerderedm != undefined) {%>
                <article class="postcard dark red">
                    <a class="postcard__img_link" href="#">
                        <img class="postcard__img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQl0DAv5GUtD5qWy2-NbndHTPiNX9qhEL416w&usqp=CAU" alt="Image Title" />	
                    </a>
                    <div class="postcard__text">
                        <h1 class="postcard__title red"><a href="#"><%= lekerderedm.Gyarto %> <%= lekerderedm.Tipus %></a></h1>
                        <div class="postcard__bar"></div>
                        <div class="postcard__preview-txt">
                            <p>Évjárat: <%= lekerderedm.Evjarat %></p>
                            <p>Állapot: <%= lekerderedm.Allapot %></p>
                            <p>Futott km: <%= lekerderedm.Futottkm %></p>
                            <p>Okmányok jellege: <%= lekerderedm.Okmanyok %></p>
                            <p>Gumiabroncs fajtája: <%= lekerderedm.Gumiabroncs %></p>
                        </div>
                    </div>
                </article>
                <% } %>
        </form>
</body>
<%- include('includes/footer.ejs') %>