<%- include('includes/header.ejs') %>
<link rel="stylesheet" href="/css/kezdolap.css">
<link rel="stylesheet" href="/css/buttons.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/fooldal.css">
<link rel="stylesheet" href="/css/select.css">
<script src="https://unpkg.com/vue@next" defer></script>
<script src="/js/fooldal.js" defer></script>
</head>
</head>
<body>
    <%- include('includes/navbar_fooldal.ejs') %>
    <h1>Főoldal</h1>

    <div id="cars">
        <label class="custom-select" for="styledSelect1">
        <select v-model="selected" id="styledSelect1" name="options">
            <option value="R" selected>Rendszám</option>
            <option value="A">Alvázszám</option>
        </select>
        </label>
        <form method="post" action="/fooldal"> 
            <div v-if="valasztott == 'R'">
                <input maxlength='7' value='ABC-123' class="rendszam" id="rendszam" name="rendszam" type="text"/>
                <button class="btn btn-outline-light" style="margin: 10px; width: 200px; height: 100px; font-size: larger;" type="submit">Keres</button>
            </div>
            <div v-if="valasztott == 'A'">
                <input maxlength='17' value='' class="alvazszam"/>
            </div>
        </form>
        <br>
        <br>
        <% if (lekerderedm.Okmanyok != '') { %>
            <div class="card">
                <div class="card-header">
                <p><%= lekerderedm.Gyarto %></p>
                <p><%= lekerderedm.Tipus %></p>
                <p><%= lekerderedm.Evjarat %></p>
                <p><%= lekerderedm.Allapot %></p>
                <p><%= lekerderedm.Futottkm %></p>
                <p><%= lekerderedm.VezetettSzervK %></p>
                <p><%= lekerderedm.Megbizhatosag %></p>
                <p><%= lekerderedm.Tipshiba %></p>
                <p><%= lekerderedm.Okmanyok %></p>
                <p><%= lekerderedm.Muszakierv %></p>
                <p><%= lekerderedm.Alvazszam %></p>
                <p><%= lekerderedm.Gumiabroncs %></p>
                </div>
            </div>
              <% } %>
</body>
<%- include('includes/footer.ejs') %>