<%- include('includes/header.ejs') %>
<link rel="stylesheet" href="/css/termekek.css">
<link rel="stylesheet" href="/css/buttons.css">
<link rel="stylesheet" href="/css/kosar.css">
<script src="/js/kosar.js" defer></script>
<body>
    <%- include('includes/navbar_fooldal.ejs') %>
    <div class="shopping-cart">
        <div class="title">
          Kosár
        </div>
        <% if(kosarTartalma != undefined){ %>
        <% for (let kosar of kosarTartalma) { %>
        <div class="item">
          <div class="buttons">
            <button class="join_btn joinform" href="" value="ALL ON" >Töröl</button>
          </div>
          <div class="image">
            <img src="img/gumi.png" alt="" class="gumi_img"/>
          </div>
       
          <div class="description">
            <span><% for(let gumi of lekerderedm_gumik){ %>
              <% if(gumi.GID == kosar.termek_id) {%>
                  <%= gumi.Gyarto %>
                  <%}%>
              <%}%>
            </span>
            <span><% for(let gumi of lekerderedm_gumik){ %>
              <% if(gumi.GID == kosar.termek_id) {%>
                  <%= gumi.Evszak %>
                  <%}%>
              <%}%>
            </span>
            <span>
              <% for(let gumi of lekerderedm_gumik){ %>
                <% if(gumi.GID == kosar.termek_id) {%>
                    <%= gumi.Kategoria %>
                    <%}%>
                <%}%>
            </span>
          </div>
       
          <div class="quantity">
            <form action="/kosarMinusz" method="POST" class="row">
              <input type="text" name="termek_id" value="<%=kosar.termek_id%>" hidden>
              <button class="minus-btn" type="submit" value="ALL ON">
                  -
              </button>
            </form>
            <input type="text" name="name" value="<%= kosar.qty %>" disabled class="db">
            <form action="/kosarPlusz" method="POST" class="row">
              <input type="text" name="termek_id" value="<%=kosar.termek_id%>" hidden>
              <button class="plus-btn" type="submit" name="button" value="ALL ON">
                  +
              </button>
            </form>
          </div>
          <div class="total-price row">
            <% for(let gumi of lekerderedm_gumik){ %>
              <% if(gumi.GID == kosar.termek_id) {%>
                  <%= gumi.Ar %> Ft
                  <%}%>
              <%}%>
          </div>
        </div>
          <% } %>
        <% } %>
        <% if(kosarTartalma == undefined){ %>
          <p class="ureskosar">Jelenleg üres a kosár</p>
        <% } %>
</body>
<%- include('includes/footer.ejs') %>
