<%- include('includes/header.ejs') %>
<link rel="stylesheet" href="/css/termekek.css">
<link rel="stylesheet" href="/css/buttons.css">
<link rel="stylesheet" href="/css/kosar.css">
<script src="/js/kosar.js" defer></script>
<body>
    <%- include('includes/navbar_fooldal.ejs') %>
    <div class="shopping-cart">
        <!-- Title -->
        <div class="title">
          Kosár
        </div>
       
        <!-- Product #1 -->
        <div class="item">
          <div class="buttons">
            <button class="join_btn joinform" href="" value="ALL ON" >Töröl</button>
          </div>
          <div class="image">
            <img src="img/gumi.png" alt="" class="gumi_img"/>
          </div>
       
          <div class="description">
            <span>Common Projects</span>
            <span>Bball High</span>
            <span>White</span>
          </div>
       
          <div class="quantity">
            <button class="minus-btn" type="button" name="button">
                -
            </button>

            <input type="text" name="name" value="1" disabled class="db">

            <button class="plus-btn" type="button" name="button">
                +
            </button>
          </div>
       
          <div class="total-price">$549</div>
        </div>
       
        <!-- Product #2 -->
        <div class="item">
          <div class="buttons">
            <button class="join_btn joinform" href="" value="ALL ON" >Töröl</button>
          </div>
          <div class="image">
            <img src="img/gumi.png" alt="" class="gumi_img"/>
          </div>
       
          <div class="description">
            <span>Common Projects</span>
            <span>Bball High</span>
            <span>White</span>
          </div>
       
          <div class="quantity">
            <button class="minus-btn" type="button" name="button">
                -
            </button>

            <input type="text" name="name" value="1" disabled class="db">
            
            <button class="plus-btn" type="button" name="button">
                +
            </button>
          </div>
          <div class="total-price">$549</div>
        </div>
       
        <!-- Product #3 -->
        <div class="item">
            <div class="buttons">
              <button class="join_btn joinform" href="" value="ALL ON" >Töröl</button>
            </div>
            <div class="image">
              <img src="img/gumi.png" alt="" class="gumi_img"/>
            </div>
         
            <div class="description">
              <span>Common Projects</span>
              <span>Bball High</span>
              <span>White</span>
            </div>
         
            <div class="quantity">
              <button class="minus-btn" type="button" name="button">
                  -
              </button>
  
              <input type="text" name="name" value="1" disabled class="db">
              
              <button class="plus-btn" type="button" name="button">
                  +
              </button>
            </div>
         
            <div class="total-price">$549</div>
          </div>
      </div>

      
    <!--
    <h1>Termékek</h1>
    <div class="wrapper">
        <div class="row">
            <% if(kosarTartalma != undefined){ %>
                <% for (let kosar of kosarTartalma) { %>
            <div class="col-12 col-md-6 col-lg-3">
            <section class="products">
                    <div class="container">         
                            <div class="card">
                                <div>
                                    <h1 class="productTitle_teli">
                                        <% for(let gumi of lekerderedm_gumik){ %>
                                            <% if(gumi.GID == kosar.termek_id) {%>
                                                <%= gumi.Evszak %>
                                                <%}%>
                                            <%}%>
                                    </h1>
                                </div>
                                <div class="productIMG">
                                    <img src="img/gumi.png" alt="">
                                </div>
                                <div>
                                    <h1 class="productTitle_teli">
                                        <% for(let gumi of lekerderedm_gumik){ %>
                                            <% if(gumi.GID == kosar.termek_id) {%>
                                                <%= gumi.Gyarto %>
                                                <%}%>
                                            <%}%>
                                    </h1>
                                    <h2 class="productPrice">
                                        <% for(let gumi of lekerderedm_gumik){ %>
                                            <% if(gumi.GID == kosar.termek_id) {%>
                                                <%= gumi.Ar %>
                                                <%}%>
                                            <%}%>
                                    </h2>
                                </div>
                                <div>
                                    
                                    <% for(let gumi of lekerderedm_gumik){ %>
                                        <% if(gumi.GID == kosar.termek_id) {%>
                                            <%= gumi.Kategoria %>
                                            <%}%>
                                        <%}%>
                                        <br>
                                        (<%= kosar.qty %>)
                                </div>
                                <div class="pbtn">
                                        <button class="join_btn joinform" href="" value="ALL ON" onclick="allOn();">Fizetés</button>
                                    <form action="/kosartorol" method="POST" >
                                        <input type="text" name="termek_id" value="<%=kosar.termek_id%>" hidden>
                                        <button class="join_btn joinform" href="" value="ALL ON" >Töröl</button>
                                    </form>
                                </div>
                            </div>              
                    </div>
            </section>
            </div>
            <% } %>
            <% } %>
        </div>
    </div>
    -->
</body>
<%- include('includes/footer.ejs') %>
