<%- include('includes/header.ejs') %>
    <link rel="stylesheet" href="/css/termekek.css">
    <link rel="stylesheet" href="/css/buttons.css">
    <link rel="stylesheet" href="/css/kosar.css">
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="/js/rendeles.js" defer></script>

    <body>
        <%- include('includes/navbar_fooldal.ejs') %>
            <div class="shopping-cart">
                <div class="title">
                    Kosár
                </div>
                <% if(kosarTartalma !=undefined || kosarTartalma=='' ){ %>
                    <div id="osszead">
                        <% for (let kosar of kosarTartalma) { %>
                            <div class="item">
                                <form action="/torol" method="post">
                                    <div class="buttons">
                                        <button class="join_btn joinform" type="submit" value="ALL ON">Töröl</button>
                                    </div>
                                </form>
                                <div class="image">
                                    <img src="img/gumi.png" alt="" class="gumi_img" />
                                </div>

                                <div class="description">
                                    <span>
                                        <% for(let gumi of lekerderedm_gumik){ %>
                                            <% if(gumi.GID==kosar.termek_id) {%>
                                                <%= gumi.Gyarto %>
                                                    <%}%>
                                                        <%}%>
                                    </span>
                                    <span>
                                        <% for(let gumi of lekerderedm_gumik){ %>
                                            <% if(gumi.GID==kosar.termek_id) {%>
                                                <%= gumi.Evszak %>
                                                    <%}%>
                                                        <%}%>
                                    </span>
                                    <span>
                                        <% for(let gumi of lekerderedm_gumik){ %>
                                            <% if(gumi.GID==kosar.termek_id) {%>
                                                <div>
                                                    <img src="img/<%= gumi.Kategoria %>.png" alt="" class="ertekeles">
                                                </div>
                                                <%}%>
                                                    <%}%>
                                    </span>
                                </div>

                                <div class="quantity">
                                    <form action="/kosarMinusz" method="POST" class="kosar_row">
                                        <input type="text" name="termek_id" value="<%=kosar.termek_id%>" hidden>
                                        <button class="minus-btn" type="submit" value="ALL ON">
                                            -
                                        </button>
                                    </form>
                                    <input type="text" name="name" value="<%= kosar.qty %>" disabled class="db">
                                    <form action="/kosarPlusz" method="POST" class="kosar_row">
                                        <input type="text" name="termek_id" value="<%=kosar.termek_id%>" hidden>
                                        <button class="plus-btn" type="submit" name="button" value="ALL ON">
                                            +
                                        </button>
                                    </form>
                                </div>
                                <div class="price kosar_row">
                                    <% for(let gumi of lekerderedm_gumik){ %>
                                        <% if(gumi.GID==kosar.termek_id) {%>
                                            <%= gumi.Ar %> Ft/db
                                                <%}%>
                                                    <%}%>
                                </div>
                                <div class="total-price kosar_row">
                                    <% for(let gumi of lekerderedm_gumik){ %>
                                        <% if(gumi.GID==kosar.termek_id) {%>
                                            <%= gumi.Ar*kosar.qty %> FT
                                                <%}%>
                                                    <%}%>
                                </div>
                            </div>
                            <% } %>
                                <% if(kosarTartalma!=undefined && kosarTartalma !='' ){ %>
                                    <div class="vegosszeg">
                                        Végösszeg:
                                        <%= kosarOsszeg %> Ft
                                            <button class="join_btn joinform fizetesgomb" href="" value="" data-toggle="modal" data-target=".bd-example-modal-lg">Rendelés véglegesítése</button>
                                    </div>
                                    <% } %>

                    </div>
                    <% } %>
                        <% if(kosarTartalma==undefined || kosarTartalma=='' ){ %>
                            <p class="ureskosar">Jelenleg üres a kosár</p>
                            <% } %>
                                <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content main">
                                            <div class="header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span class="bezar" aria-hidden="true">&times;</span>
                                                </button>
                                                <p class="sign" align="center">Rendelés véglegesítése</p>
                                            </div>
                                            <div class="adatok">
                                                <p>
                                                    <%= username %>
                                                </p>
                                                <p>
                                                    <%= email %>
                                                </p>
                                            </div>
                                            <form class="form1" method="POST" action="/elkuld" id="rendeles">

                                                <input v-model='telephone' class="un telefonszam" type="tel" id="tel" name="tel" pattern="[0-9]{2} [0-9]{3} [0-9]{4}" required placeholder="Telefonszám, pl: 30 222 5503">
                                            <div class="inline">
                                                <input v-model='postalcode' class="un isz" type="text" name="irsz" id="irsz" pattern="[0-9]{4}" placeholder="Irányítószám">

                                                <input v-model='city' class="un telepules" type="text" name="varos" id="varos" placeholder="Település">
                                            </div>
                                                <input v-model='street' class="un" type="text" name="utca" id="utca" placeholder="Utca">

                                                <input v-model='number' class="un hazszam" type="text" name="hsz" id="hsz" pattern="[A-Za-z0-9]" maxlength="4" placeholder="Házszám">

                                                <p class="vegosszeg_modal" align="center">Végösszeg: <%= kosarOsszeg %> Ft</p>

                                                <div v-if="tel_validate == true && irsz_validate == true && utca_validate == true && varos_validate == true && szam_validate == true">
                                                    <p align="center"><button type="submit" class="submit" >Rendelés leadása</button></p>
                                                </div>
                                                <div v-else-if="tel_validate == false || irsz_validate == false || utca_validate == false || varos_validate == false || szam_validate == false">
                                                    <p align="center"><button type="submit" class="submitDisabled" disabled data-dismiss="modal">Rendelés leadása</button></p>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>

    </body>
    
    <%- include('includes/footer.ejs') %>