<%- include('includes/header.ejs') %>
    <link rel="stylesheet" href="/css/termekek.css">
    <link rel="stylesheet" href="/css/buttons.css">
    <link rel="stylesheet" href="/css/kosar.css">
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="/js/rendeles.js" defer></script>

    <body>
        <%- include('includes/navbar_fooldal.ejs') %>
            <div class="shopping-cart">
                <div class="title">
                    Kosár
                </div>
                <% if(kosarTartalma !=undefined || kosarTartalma=='' ){ %>
                    <div id="osszead">
                        <% for (let kosar of kosarTartalma) { %>
                            <div class="item">
                                <form action="/torol" method="post">
                                    <div class="buttons">
                                        <input type="text" name="termek_id" value="<%=kosar.termek_id%>" hidden>
                                        <button class="join_btn joinform" type="submit" value="ALL ON">Töröl</button>
                                    </div>
                                </form>
                                <div class="image">
                                    <img src="img/gumi.png" alt="" class="gumi_img" />
                                </div>

                                <div class="description">
                                    <span>
                                        <% for(let gumi of lekerderedm_gumik){ %>
                                            <% if(gumi.GID==kosar.termek_id) {%>
                                                <%= gumi.Gyarto %>
                                                    <%}%>
                                                        <%}%>
                                    </span>
                                    <span>
                                        <% for(let gumi of lekerderedm_gumik){ %>
                                            <% if(gumi.GID==kosar.termek_id) {%>
                                                <%= gumi.Evszak %>
                                                    <%}%>
                                                        <%}%>
                                    </span>
                                    <span>
                                        <% for(let gumi of lekerderedm_gumik){ %>
                                            <% if(gumi.GID==kosar.termek_id) {%>
                                                <div>
                                                    <img src="img/<%= gumi.Kategoria %>.png" alt="" class="ertekeles">
                                                </div>
                                                <%}%>
                                                    <%}%>
                                    </span>
                                </div>

                                <div class="quantity">
                                    <form action="/kosarMinusz" method="POST" class="kosar_row">
                                        <input type="text" name="termek_id" value="<%=kosar.termek_id%>" hidden>
                                        <button class="minus-btn" type="submit" value="ALL ON">
                                            -
                                        </button>
                                    </form>
                                    <input type="text" name="name" value="<%= kosar.qty %>" disabled class="db">
                                    <form action="/kosarPlusz" method="POST" class="kosar_row">
                                        <input type="text" name="termek_id" value="<%=kosar.termek_id%>" hidden>
                                        <button class="plus-btn" type="submit" name="button" value="ALL ON">
                                            +
                                        </button>
                                    </form>
                                </div>
                                <div class="price kosar_row">
                                    <% for(let gumi of lekerderedm_gumik){ %>
                                        <% if(gumi.GID==kosar.termek_id) {%>
                                            <%= gumi.Ar %> Ft/db
                                                <%}%>
                                                    <%}%>
                                </div>
                                <div class="total-price kosar_row">
                                    <% for(let gumi of lekerderedm_gumik){ %>
                                        <% if(gumi.GID==kosar.termek_id) {%>
                                            <%= gumi.Ar*kosar.qty %> FT
                                                <%}%>
                                                    <%}%>
                                </div>
                            </div>
                            <% } %>
                                <% if(kosarTartalma!=undefined && kosarTartalma !='' ){ %>
                                    <div class="vegosszeg">
                                        Végösszeg:
                                        <%= kosarOsszeg %> Ft
                                            <button class="join_btn joinform fizetesgomb" href="" value="" data-toggle="modal" data-target=".bd-example-modal-lg">Rendelés véglegesítése</button>
                                    </div>
                                    <% } %>

                    </div>
                    <% } %>
                        <% if(kosarTartalma==undefined || kosarTartalma=='' ){ %>
                            <p class="ureskosar">Jelenleg üres a kosár</p>
                            <% } %>
                                <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content main">
                                            <div class="header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span class="bezar" aria-hidden="true">&times;</span>
                                                </button>
                                                <p class="sign" align="center">Rendelés véglegesítése</p>
                                            </div>
                                            <div class="adatok">
                                                <p class="megrendelo">
                                                    Tisztelt
                                                    <%= user.Felhasználónév %>&nbsp;!
                                                </p>
                                                <p class="elsomodal_szoveg">Az alábbi termékek megrendeléséhez kérjük adja meg a szükséges adatokat.</p>
                                                <p class="rendelt_termekek">
                                                    <% for (let kosar of kosarTartalma) { %>
                                                        <% for(let gumi of lekerderedm_gumik){ %>
                                                            <% if(gumi.GID==kosar.termek_id) {%>
                                                                <%= gumi.Gyarto %>
                                                                    (
                                                                    <%= kosar.qty %>db)
                                                                        <br>
                                                                        <%}%>
                                                                            <%}%>
                                                                                <%}%>
                                                </p>
                                            </div>
                                            <form class="form1" method="POST" action="/elkuld" id="rendeles">

                                                <div class="form-text">
                                                    <input v-model='telephone' class="un telefonszam" type="tel" id="tel" name="tel" pattern="[0-9]{2} [0-9]{3} [0-9]{4}" required placeholder="Telefonszám, pl: 30 222 5503">
                                                </div>
                                                <!--<label for="tel" class="static-value">+36 </label>-->
                                                <div class="inline">
                                                    <input v-model='postalcode' class="un isz" type="text" name="irsz" id="irsz" pattern="[0-9]{4}" placeholder="Irányítószám">

                                                    <input v-model='city' class="un telepules" type="text" name="varos" id="varos" placeholder="Település">
                                                </div>
                                                <input v-model='street' class="un" type="text" name="utca" id="utca" placeholder="Utca">

                                                <input v-model='number' class="un hazszam" type="text" name="hsz" id="hsz" maxlength="4" placeholder="Házszám">

                                                <p class="vegosszeg_modal" align="center">Végösszeg:
                                                    <%= kosarOsszeg %> Ft</p>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                                    <label class="form-check-label" for="flexCheckDefault">
                                                          Elfogadom az <a href="" data-toggle="modal" data-target="#tajekoztato">általános szerződési feltételeket</a> 
                                                    </label>
                                                </div>
                                                <div v-if="tel_validate == true && irsz_validate == true && utca_validate == true && varos_validate == true && szam_validate == true">
                                                    <p align="center"><button type="submit" class="submit">Rendelés leadása</button></p>
                                                </div>
                                                <div v-else-if="tel_validate == false || irsz_validate == false || utca_validate == false || varos_validate == false || szam_validate == false">
                                                    <p align="center"><button type="submit" class="submitDisabled" disabled data-dismiss="modal">Rendelés leadása</button></p>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>


                                <div class="modal fade bd-example-modal-lg" id="tajekoztato" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content main">
                                            <div class="header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span class="bezar" aria-hidden="true">&times;</span>
                                                </button>
                                                <p class="sign" align="center">Adatkezelési tájékoztató</p>
                                            </div>
                                            <div class="tajekoztato_div">
                                                <p class="adatkezelesi_tajekoztato">

                                                    Üdvözlünk a CarScope - 2022 internetes áruházában! Kérjük vásárlás előtt mindenképpen olvassa el a vásárlási és fizetési feltételeinket. Általános Szerződési Feltételek (2022. január 10 napjától hatályos szöveg) A Szerződés letöltéséhez, nyomtatásához
                                                    és megtekintéséhez kattintson ide. A jelen felhasználási feltételek (a továbbiakban a Szerződés) a PICMAC Kereskedelmi és Szolgáltató Korlátolt Felelősségű Társaság Székhely: 4400 Nyíregyháza, Mártírok
                                                    tere 9. Cégjegyzékszáma: 15-09-084200 Nyilvántartásba vette és nyilvántartja: Nyíregyházi Törvényszék Cégbírósága Képviseli: Tar Attila önálló aláírási joggal rendelkező ügyvezető Email cím: carscope2022@gmail.com
                                                    Honlap: www.CarScope.hu Adószám: EU közösségi adószám: Bankszámlaszám: Adatvédelmi nyilvántartási szám: Tárhelyszolgáltató neve, székhelye és elérhetősége (e-mail, telefonszám): Ügyfélszolgálat: Hétfő
                                                    - Péntek: 09 - 15 mint szolgáltató (a továbbiakban a CarScope) tulajdonában lévő, a www.CarScope.hu internetes címen elérhetőweboldal és az ott megjelölt weboldalak (a továbbiakban a Weboldal), valamint
                                                    a Weboldalon keresztülelérhető szolgáltatások (a továbbiakban a Webáruház) használatának szabályait határozza meg, továbbárendelkezik a nem elfogadható felhasználói tevékenységekről. 1. Weboldal célja
                                                    A Weboldal célja a CarScope Webáruházának üzemeltetése. A Webáruházban kizárólag új gumik, abroncsok ésfelnik kis- és nagykereskedelmével foglalkozunk. A Weboldalon kapcsolódó szolgáltatásként működik
                                                    az egyestermékek Felhasználói értékelése, illetve partneri regisztrációs szolgáltatás és a weboldal termékeinek ésszolgáltatásainak témájában ismeretterjesztő, információs oldalak is elérhetőek mind
                                                    szakmabelieknek, mind anagyközönségnek. 2. Felhasználók Megrendelést leadó Felhasználók: A jelen Szerződés alapján Felhasználónak minősül a Webáruházbanmegrendelést leadó természetes vagy jogi személy
                                                    vagy jogi személyiség nélküli szervezet, egyéni vállalkozó. Regisztrált felhasználók: a oldalon lehetőség van regisztrációra. A jelen Szerződésalapján Felhasználónak minősül a regisztrációt elvégző természetes
                                                    vagy jogi személy vagy jogi személyiségnélküli szervezet, egyéni vállalkozó. Értékelést adó Felhasználók: a oldalon lehetőség van a www.CarScope.hu oldalon azegyes termékek mellett megjelenő nyilvános
                                                    értékelést közölni. Értékelést csak a Webáruházban terméketvásárolt Felhasználó tud leadni. A jelen Szerződés alapján Felhasználónak minősül az értékelést megadótermészetes vagy jogi személy vagy jogi
                                                    személyiség nélküli szervezet, egyéni vállalkozó. A továbbiakban a Megrendelésre vonatkozó szabályok a Regisztrációra és az Értékelésre is irányadók, kivéve,ha külön jelezzük az eltérő szabályokat. Speciális
                                                    szabályok: A jelen Szerződés alapján Felhasználó az lehet, aki a Megrendelés során szükséges adatokat megadta és a Megrendelésnél szükséges nyilatkozatokat (együttesen Nyilatkozatok) megtette, illetve
                                                    magára nézve kötelezőnek fogadta el a Szerződés rendelkezéseit. A továbbiakban a fenti feltételeknek megfelelő személyek elnevezése: a Felhasználó vagy Ön. Nem regisztrált Felhasználó: Ha Ön a Weboldalon
                                                    böngészik, Megrendelés leadása nélkül, Önre is a jelen Szerződés rendelkezései vonatkoznak. Ön a Weboldal használatával, böngészésével egyben elfogadja a jelen Szerződés szabályait. Kiskorú felhasználókra
                                                    vonatkozó speciális rendelkezések: A 14-18 éves kiskorú (és nem cselekvőképtelen) vagy a cselekvőképességet korlátozó gondnokság alatt álló Felhasználónál szükséges a jognyilatkozatok érvényes megtételéhez
                                                    (pl. a jelen Szerződés elfogadása) a törvényes képviselő (pl. szülő) hozzájárulása. Ennek megfelelően a természetes személyek tekintetében amennyiben Ön a 18. életévét még nem töltötte be vagy egyéb
                                                    okból korlátozottan cselekvőképes, akkor az Ön Megrendelését és Weboldal használatát a CarScope csak úgy tudja elfogadni, ha a Webáruház igénybevételéhez és a Weboldal használatához előzetesen beszerezte
                                                    törvényes képviselőjének (általában szülő) beleegyezését, illetve jóváhagyását, amely az Ön tevékenységéért történő teljes felelősségvállalást is magában foglalja. A jóváhagyást Ön ebben az esetben a
                                                    CarScopenak köteles elküldeni a jelen Szerződés elején feltüntetett elérhetőségek egyikére. Amennyiben Ön 14 év alatti személy, vagy cselekvőképességet teljesen korlátozó gondnokság alatt áll, úgy a
                                                    Weboldalt és a Webáruházat önállóan nem használhatja – az Ön nevében törvényes képviselője (általában a szülő vagy gondnokság esetén gondnok) töltheti le a Weboldalt, Regisztrálhat és a Felhasználói
                                                    tevékenységért is ő vállalja a felelősséget. 3. Nyilatkozatok Amikor Ön letölti a Weboldalt, Megrendel terméket a Weboldalon és elfogadottnak jelöli be a jelen Szerződést, azzal egyben az alábbi kötelezettségeket
                                                    is vállalja: - igazolja, hogy a Szerződés nyelvét, amely a magyar nyelv, érti és ismeri, annak használatában nincs akadályoztatva; - igazolja, hogy a Webáruházban történő Megrendelés előfeltételeként
                                                    a jelen Szerződést teljes körűen megismerte, megértette különös tekintettel a Szerződés 10. pontjában megfogalmazott felelősségkorlátozásokra, és magára nézve kötelezőnek fogadja el, betartja az abban
                                                    foglaltakat és ezek alapján önként, saját elhatározásából veszi igénybe a Webáruház szolgáltatásait; - igazolja, hogy a Megrendelés során megadott személyes adatai érvényesek, a valóságnak megfelelnek,
                                                    nem félrevezetők, illetve más személyiségi jogait nem sértik (pl. nem végez Megrendelést vagy nem használja a Weboldalt és a Webáruházat engedély nélkül más személy nevében); - kijelenti, hogy a Webáruház
                                                    használata során nem végez jogellenes, Szerződésellenes vagy jogosulatlan tevékenységet (ide értve a nemkívánatos elektronikus kommunikációt és a Webáruház számítástechnikai rendszerébe történő jogosulatlan
                                                    behatolást vagy ennek kísérletét, működésének akadályozását is) és minden, a Felhasználói magatartásra és tevékenységre vonatkozó szabályt betart; - kijelenti, hogy a Webáruházat és a Weboldalt nem használja
                                                    más Felhasználó zaklatására, rágalmazásra, becsületsértésre, emberi, személyiségi vagy egyéb jogainak megsértésére vagy politikai tevékenységre; - tudomásul veszi, hogy amennyiben nem ad meg minden,
                                                    a Webáruház használatához kért adatot vagy bizonyos alkalmazásokat letilt, úgy lehetséges, hogy a Webáruház szolgáltatásai nem, vagy csak korlátozott mértékben állnak a rendelkezésére; - VÁLLALJA, HOGY
                                                    A WEBÁRUHÁZ IGÉNYBEVÉTELE KAPCSÁN AZ ÖN MINT FELHASZNÁLÓ ÁLTAL VÉGZETT TEVÉKENYSÉGEKKEL ÖSSZEFÜGGÉSBEN (IDE ÉRTVE TÖBBEK KÖZÖTT A JELEN PONTBAN FOGLALT NYILATKOZATOK ÉS A SZERZŐDÉS SZERINT KÖTELEZETTSÉGEK
                                                    BE NEM TARTÁSÁT IS) A CarScopeNAK OKOZOTT MINDEN KÁRT TELJES MÉRTÉKBEN MEGTÉRÍT ÉS HARMADIK SZEMÉLYEK FELÉ TELJES MÉRTÉKBEN HELYTÁLL A CarScope HELYETT A FELHASZNÁLÓI TEVÉKENYSÉGGEL KAPCSOLATOS IGÉNYEK
                                                    MIATT, ILLETVE AZ ÖN ÁLTAL MEGADOTT, ELHELYEZETT ADATOKKAL, TARTALMAKKAL KAPCSOLATBAN IS, IDŐBELI KORLÁT NÉLKÜL. A TELJES KÁRTÉRÍTÉS A KÖZVETLEN ÉS KÖZVETETT KÁROK, AZ ELMARADT HASZON ÉS AZ ELJÁRÁSI
                                                    ÉS ÜGYVÉDI KÖLTSÉGEK MEGTÉRÍTÉSÉT IS JELENTI. Kizárólag azon Felhasználó Megrendelése tekinthető érvényesnek, aki a jelen Szerződés 2. és 3. pontjában meghatározott feltételeknek megfelel és a rendelkezéseket
                                                    magára nézve kötelezőnek fogadta el, valamint a Megrendeléshez szükséges Nyilatkozatokat megtette. 4. Szolgáltatások Webáruház lényeges tulajdonságai: A CarScope Webáruházat üzemeltet, amelynek keretében
                                                    termékek és szolgáltatások kis- és nagykereskedelmével foglalkozik. A termékek lényeges tulajdonságait a termék nevére kattintva érheti el Az abroncsok életkorát csak abban az esetetben jelöljük meg,
                                                    ha a gyártási idő 3 évnél régebbi. Ezt az abroncs megnevezése után található "DOT" szám mutatja meg. (pl. DOT12 azt jelenti, hogy az abroncs 2012-es gyártási évű.) A Webáruházban feltüntetett árak bruttó
                                                    árak, melyek tartalmazzák a 27% Áfát. Weboldalon feltüntetett áraink kizárólag Weboldali vagy telefonos rendelés esetén érvényesek. az értékelési szolgáltatás a Webáruházban terméket vásárló Felhasználó
                                                    által elérhető szolgáltatás, az értékelés mint vásárlói értékelés a Webáruházban az egyes termékek és gyártók neve mellett nyilvánosan jelenik meg. a partneri Regisztrációs szolgáltatás a termékek megvásárlásának
                                                    könnyítésére jött létre, a Regisztrációval létrehozzuk az Ön saját felhasználói fiókját. A CarScope személyre szabott, e-mailen történő kapcsolattartásra alkalmas felhasználói fiókot (Profil) tesz elérhetővé
                                                    a Felhasználónak a Regisztrációs szolgáltatások részeként. Ön tudomásul veszi, hogy e szolgáltatásban való részvételéhez szükséges az Ön által elvégzett érvényes Regisztráció. a tájékoztató, információkat
                                                    nyújtó szolgáltatás információkat szolgáltat Önnek a Webáruház termékeinek és szolgáltatásainak témakörében, külön a nagyközönségnek, és külön a szakmabelieknek. A Profil megszüntetése: az CarScope gumi@CarScope.hu
                                                    e-mail címre küldött üzenetben Ön kérheti Profilja megszüntetését a CarScopetól. Adatbeviteli hibák kijavítása: Ön tévesen bevitt adatainak javítását a Megrendelés (a www.gumi-b2b.hu platform esetében
                                                    a Regisztrációs, a platform esetében az értékelési) űrlapon a Megrendelés áttekintésekor, a ’Megrendelés megerősítése’ vagy Regisztráció esetében az ”Elküld” vagy értékelés esetében az ’Értékelem’ gombra
                                                    történő kattintás előtt elvégezheti, vagy a Megrendelés elküldése után a CarScopenak a gumi@CarScope.hu email címre küldött email útján kérheti. A Weboldal működésének feltételei: A CarScope tájékoztatja
                                                    a Felhasználót, hogy internet kapcsolat szükséges a Webáruház igénybevételéhez, amelynél a minimum letöltési sebességre nincs korlát, azonban az alacsony sávszélesség korlátozhatja a Szolgáltatások sebességét.
                                                    Az internet kapcsolat biztosítása a Felhasználó felelőssége, a CarScopenak ráhatása erre, illetve ennek tulajdonságaira nincs. A Weboldal és Webáruház használatához web böngésző program is szükséges,
                                                    melynek megléte a Felhasználó felelőssége, felhívjuk a Felhasználó figyelmét, hogy a régebbi böngésző programok használata korlátozhatja a Szolgáltatások elérését, sebességét. Alkalmazandó műszaki védelmi
                                                    intézkedések: 1) az adatok kezelésénél https protokollt használ a Webáruház, így titkosított kapcsolaton keresztül kommunikál a Felhasználó és szerver; 2) fizetés a fizetést bonyolító bank (K&H Bank)
                                                    saját felületén történik, a CarScope nem lát vagy ismer meg Felhasználói kártya adatokat, illetve SSL titkosítást használ a banki fizetési felület. Webáruház megváltoztatása: A CarScope a Webáruház tökéletesítése
                                                    érdekében rendszeresen fejleszti és megújítja a Weboldalt és a Webáruházat, ezért Ön elfogadja, hogy a CarScope erről szóló előzetes értesítés nélkül megváltoztathatja a Webáruház formáját és jellemzőit,
                                                    vagy annak bármilyen aspektusát (véglegesen vagy ideiglenes jelleggel) leállíthatja a Webáruház (vagy azok bármely tulajdonságának vagy részének) nyújtását anélkül, hogy Önt erről előzetesen írásban
                                                    értesítené, továbbá előfordulhat, hogy a Weboldal időről-időre automatikusan letölti és telepíti a rajta végrehajtott frissítéseket és Ön hozzájárul ezeknek a frissítéseknek a letöltéséhez. Ön tudomásul
                                                    veszi, hogy a CarScope a Webáruházat Magyarországról üzemelteti, és CarScope nem szavatolja, hogy a Weboldal és a Webáruház más országban is elérhető vagy megfelelően működik, illetve, hogy megfelel
                                                    az Ön igényeinek. Kiskorúak (18 éven aluliak) védelme: Ön tudomásul veszi továbbá, hogy a kiskorúak védelmében a CarScope jogosult a Weboldalt korlátozni kiskorúak tekintetében. Kérjük, hogy az Ön személyes
                                                    adatai kezelésére vonatkozóan olvassa el figyelmesen az Adatkezelési Tájékoztatót! 5. Megrendelés, szerződéskötés lépései: Megrendelés: A Webáruházban a Megrendelés interneten a www.CarScope.hu Weboldalon,
                                                    telefonon vagy email-en keresztül lehetséges. Weboldalon történő megrendelés: A www.CarScope.hu Weboldalon tegye a Kosárba (kattintson a termék ára alatti ’Kosárba’ gombra) az Ön által kiválasztott,
                                                    megrendelni kívánt termékeket. Adja meg a kívánt mennyiséget. Kosár gomb csak a készleten lévő termékeknél van. Ha a kiválasztott termék nincs készleten, ebben az esetben kérjük, érdeklődjön telefonon,
                                                    e-mailen. Amennyiben tovább kíván vásárolni, kattintson a ’Tovább vásárolok’ gombra, és tegye a kosárba a többi terméket. A rendelés során megtekintheti a kosár tartalmát, illetve módosíthatja azt. Az
                                                    esetleges módosításokat a Frissítés ikonra kattintva tudja elfogadni. Amennyiben törölni kívánja a kosárban található terméket, akkor kattintson a Kuka ikonra. A Megrendelésnél adja meg a következő adatokat:
                                                    Számlázási és Szállítási Adatok, Szállítási Módok, Fizetési Módok Amennyiben van Önnek a Megrendeléshez felhasználható kuponja, kedvezménye, azt a Megrendelési felületen a ’Kupon beváltás’- alatt a kupon
                                                    azonosítójának megadásával és a 'Beváltás' gomra kattintással intézheti. Ha törölni, javítani akar, azt a Megrendelés űrlapon megteheti a kuka jelre történő kattintással vagy az adatok kitörlésével és
                                                    újra megadásával vagy a kosár frissítésével. A megfelelő felületek bejelölésével fogadja el a jelen Szerződést és az Adatkezelési Tájékoztatót és kattintson a ’Megrendelés megerősítése’ gombra. A gombra
                                                    kattintás fizetési kötelezettséget von maga után, amelyet Ön a gombra kattintással kifejezetten tudomásul vesz. A CarScope az Ön Megrendelésének elküldését egy automatikus e-mail üzenet küldésével igazolja
                                                    vissza, amely még nem minősül a Megrendelés elfogadásának. A Weboldalon történő megrendelés esetén a Megrendelés beérkezése után feldolgozzuk azt, és késedelem nélkül maximum 48 órán belül egy újabb
                                                    visszaigazoló emaillel elfogadjuk a Megrendelését. Telefonon történő megrendelés: Ön megrendelheti a Webshop termékeit az ügyfélszolgálati telefonszámunkon is. Ekkor is szükséges a Weboldalon történő
                                                    megrendeléskor megadandó adatok telefonon történő megadása. A Megrendelést a CarScope emailben visszaigazolja. Amennyiben Ön telefonos megrendelése esetén nem tud e- mail címet megadni, akkor sms-t küldünk
                                                    az Ön által megadott telefonszámra, amely tartalmilag azonos a visszaigazoló emaillel. Email-en történő megrendelés: Ön megrendelheti a Webshop termékeit az ügyfélszolgálati email címünkön is. Ekkor
                                                    is szükséges a Weboldalon történő megrendeléskor megadandó adatok emailben történő megadása. A Megrendelést a CarScope emailben visszaigazolja. Fizetés: A fenti megrendeléskor a megfelelő opció kiválasztásával,
                                                    az opció bejelölésével meg kell adnia a fizetési módot. Ön a megrendelt termékek teljes vételárát Utánvéttel a szállítónak, - "Fizetés készpénzzel a gumiabroncsok átvételekor" fiztési mód választása
                                                    esetén a rendszer +190Ft Tranzakciós díjat számol fel - vagy banki előre utalással, vagy a Weboldalon a Megrendelés megerősítése után megjelenő bankkártyás fizetési felületen vagy a Weboldalon tudja
                                                    és köteles kifizetni. Bankkártyás fizetési szolgáltató: K&H Bank, a fizetés feltételei ide kattintva érhetők el. Amennyiben Banki átutalást választ fizetési módnak, a megjegyzés rovatba írja be a nevét
                                                    és a rendelési azonosítót. Számlázás: A CarScope papíralapú számlát állít ki, melyet a kiszállított vagy átadott termékkel együtt bocsát a Felhasználó rendelkezésére. Ha a Felhasználó egyes tételekről
                                                    külön számlát szeretne kérni, akkor külön kell azokat megrendelnie. A számlát automatikusan e-mail csatolmányként is elküldjük, amikor kiállításra kerül. Regisztráció: a weboldalon lehetőség van üzleti
                                                    partnerként regisztrálni. A feltüntetett adatok és nyilatkozatok megadása után kattintson az „Elküld” gombra. Regisztrációját késedelem nélkül emailben visszaigazoljuk. Ha törölni, javítani akar, azt
                                                    a Regisztráció űrlapon megteheti az ’Elküld’ gombra kattintás előtt, a Regisztráció elküldése után pedig a CarScopetól gumi@CarScope.hu email címre küldött email útján kérheti. A Regisztráció ingyenes.
                                                    Értékelés leadása: a Webáruházban Megrendelést leadó Felhasználóinknak a vásárlás megtörténte után 90 nappal egy emailt küldünk, melyben visszahívjuk őket a Tyre-Test.org oldalunkra, hogy értékeljék
                                                    a megvásárolt terméke(ke)t. Az értékeléseket a későbbiekben a www.CarScope.hu oldalon az adott termékeknél, gyártóknál vásárlói értékelésekként megjelenítjük. Értékelés leadásának menete: Az ’Értékelem’
                                                    menüpont alatt adja meg a feltüntetett adatokat, nyilatkozatokat, majd pedig értékelését, esetlegesen megjegyzéseit és kattintson az ’Értékelem’ gombra. Ha törölni, javítani akar, azt az Értékelés űrlapon
                                                    megteheti az ’Értékelem’ gombra kattintás előtt, az értékelés elküldése után pedig a CarScopetól gumi@CarScope.hu email címre küldött email útján kérheti. Az értékelés leadása ingyenes. Szerződés létrejötte:
                                                    A Szerződés a CarScope és Ön között a Megrendelés esetén a nem automatikus, második visszaigazoló e-mail üzenet Felhasználóhoz történő megérkezésekor jön létre. A Megrendelések feldolgozása munkanapokon
                                                    9-17 óráig történik, az ezen az időintervallumon kívül leadott Megrendelések feldolgozása a következő munkanapon kezdődik. A fentiek vonatkoznak a telefonos és email-es megrendelésekre is azzal, hogy
                                                    a második visszaigazoló email ezekben az esetekben az első visszaigazoló emailt (sms-t) jelenti. Amennyiben a Megrendelés elfogadása a Felhasználóhoz nem érkezik be 48 órán belül belül, úgy a Felhasználót
                                                    nem köti a Megrendelése és nem köteles a megrendelt terméket átvenni. Ekkor a CarScope legkésőbb az elállásról való tudomásszerzésétől számított tizennégy napon belül visszatéríti a Felhasználó által
                                                    ellenszolgáltatásként már megfizetett teljes összeget, ideértve a teljesítéssel összefüggésben felmerült költségeket is, ha volt ilyen. Regisztráció esetén a szerződés Ön és a CarScope között a regisztráció
                                                    visszaigazolásával jön létre. Értékelés leadása esetén az ’Értékelem’ gombra kattintással jön létre a Szerződés Ön és a CarScope között. A regisztrációs, értékelési és információs szolgáltatásokra vonatkozó
                                                    külön rendelkezés: Szolgáltatás indítása: Ön ezeknek a szolgáltatásoknak az igénybe vételével kifejezetten kéri a CarScopetól ezeknek a szolgáltatásoknak a jelen Szerződés megkötésének napjától számított
                                                    14 napon belüli, haladéktalan megkezdését. Ön a jelen Szerződés elfogadásával hozzájárul a az Ön által a Megrendelésnél megadott elérhetőségeken keresztüli kapcsolattartáshoz. Szerződés formája, iktatása,
                                                    elérhetősége: Ön tudomásul veszi, hogy a jelen Szerződés elektronikus formában jön létre és a CarScope nem köteles Önnek papír alapú Szerződés példányt küldeni. A CarScope azonban lehetővé teszi és javasolja,
                                                    hogy a jelen Szerződést annak elolvasásakor és elfogadásakor saját adathordozóra töltse le vagy nyomtassa ki. Ön szintén tudomásul veszi, hogy a CarScope nem köteles archiválni az Ön és a CarScope között
                                                    létrejött Szerződést vagy egyéb kommunikációt vagy tranzakciót. A CarScope a jelen Szerződést nem iktatja. A jelen Szerződés annak megkötése után a www.CarScope.hu Weboldalon az ÁSZF menüpont alatt lesz
                                                    elérhető. Szerződés nyelve, írásbeliség: A szerződés nyelve a magyar nyelv. A jelen Szerződés írásbeli szerződésnek minősül. Jelen Szerződés alapján, az e-mailen vagy a Weboldalon keresztül tett Nyilatkozatokat,
                                                    vállalásokat a felek írásbeli nyilatkozatnak tekintik. Időtartam: A CarScope és Ön között a Szerződés határozatlan időtartamra jön létre. 6. Módosítás A CarScope fenntartja a jogot, hogy a jelen Szerződést
                                                    az Ön előzetes, a Módosítás hatályba lépését legalább 5 (öt) nappal megelőző a Weboldalon keresztüli hirdetményi tájékoztatása mellett egyoldalúan módosítsa. Önnek ahhoz, hogy a módosításról tudomást
                                                    szerezzen és azt át tudja tekinteni, rendelkeznie kell internet hozzáféréssel és a Weboldalt rendszeresen ellenőriznie kell. A regisztrált Felhasználókat email formájában is értesíti a CarScope a módosulásról.
                                                    A Módosítás nem érinti a folyamatban levő Megrendelések teljesítését. Az aktuális Szerződés az Információk menüpont „ÁSZF” pontjában érhető el. Ön tudomásul veszi és elfogadja, hogy amennyiben a Webáruházat
                                                    és a Weboldalt azt követően is igénybe veszi és használja, hogy a jelen Szerződés feltételei megváltoztak, a CarScope úgy tekinti, hogy Ön elfogadta a Szerződés módosított változatát. 7. Szerződés megszűnése
                                                    Indokolás nélküli elállás: A fogyasztónak minősülő Felhasználó 45/2014. (II. 26.) Korm. rendelet alapján 30 napon belül jogosult indokolás nélkül elállni a Szerződéstől, a Megrendeléstől. Megrendelés
                                                    esetén: Az elállási határidő az attól a naptól számított 30 nap elteltével jár le, amelyen Ön vagy az Ön által megjelölt, a fuvarozótól eltérő harmadik személy a megrendelt terméket átveszi. Több termék
                                                    szolgáltatásakor attól a naptól számított 30 nap elteltével jár le, amelyen Ön vagy az Ön által megjelölt, a fuvarozótól eltérő harmadik személy az utolsó termék átveszi. Több tételből vagy darabból
                                                    álló termék szolgáltatásakor akkor jár le a határidő, amikor Ön vagy az Ön által megjelölt, a fuvarozótól eltérő harmadik személy az utolsó tételt vagy darabot átveszi. Ha Ön elállási jogával élni kíván,
                                                    elállási szándékát tartalmazó egyértelmű nyilatkozatát az itt megtalálható nyilatkozatminta, vagy az elállást tartalmazó egyértelmű nyilatkozat CarScopenak történő eljuttatásával teheti meg, eljuttatni
                                                    postán vagy email útján, a CarScope Szerződés elején megjelölt címére, vagy a gumi@CarScope.hu email címre lehetséges. Ön határidőben gyakorolja elállási jogát, ha a fent megjelölt határidő lejárta előtt
                                                    (akár a határidő utolsó napján) elküldi (postára adja vagy emailen elküldi) elállási nyilatkozatát. Ön a Szerződés megkötésének a napja és a termék átvételének napja közötti időszakban is gyakorolhatja
                                                    elállási jogát. Ha a Szerződés megkötésére a Felhasználó tett ajánlatot, a Szerződés megkötése előtt megilleti az ajánlat visszavonásának joga, ami a Szerződés megkötésére kiterjedő ajánlati kötöttséget
                                                    megszünteti. Ha Ön eláll ettől a Szerződéstől, haladéktalanul, de legkésőbb az Ön elállási nyilatkozatának kézhezvételétől számított 14 napon belül visszatérítjük az Ön által teljesített valamennyi ellenszolgáltatást,
                                                    ideértve a fuvarozási (kiszállításért fizetett) költséget is, kivéve azokat a többletköltségeket, amelyek amiatt merültek fel, hogy a Fogyasztó a CarScope által felkínált, legolcsóbb szokásos fuvarozási
                                                    módtól eltérő fuvarozási módot választott. A visszatérítés során az eredeti ügylet során alkalmazott fizetési móddal egyező fizetési módot alkalmazunk, kivéve, ha Ön más fizetési mód igénybevételéhez
                                                    kifejezetten a hozzájárulását adja; e visszatérítési mód alkalmazásából kifolyólag Önt semmilyen többletköltség nem terheli. A visszatérítést mindaddig visszatarthatjuk, amíg vissza nem kaptuk a terméket,
                                                    vagy Ön nem igazolta, hogy azt visszaküldte: a kettő közül a korábbi időpontot kell figyelembe venni. Ön köteles számunkra a terméket indokolatlan késedelem nélkül, de legkésőbb elállási nyilatkozatának
                                                    közlésétől számított 14 napon belül visszaküldeni vagy átadni (postára adás napja vagy azátadás napja számít). A határidő betartottnak minősül, ha a 14 napos határidő letelte előtt elküldi a terméket
                                                    (akár annak utolsó napján is). A termék visszaküldésének közvetlen költségét, azaz 1500 Ft/gumiabroncs-ot, mint fuvarozási költséget, Ön viseli. A CarScopenak az utánvéttel visszaküldött csomagot nem
                                                    áll módjában átvenni. Üzlethelyiségen kívül kötött szerződés megkötése esetén ha azzal egyidejűleg a terméket kiszállították Önnek, a CarScope saját költségén szállítja vissza a terméket, ha az jellegénél
                                                    fogva postai küldeményként nem küldhető vissza. Ön kizárólag akkor vonható felelősségre a termékben bekövetkezett értékcsökkenésért, ha az a termék jellegének, tulajdonságainak és működésének megállapításához
                                                    szükséges használatot meghaladó használat miatt következett be. Az e pontban foglaltak kizárólag a szakmája, önálló foglalkozása vagy üzleti tevékenysége körén kívül eljáró természetes személyre vonatkoznak,
                                                    aki árut vesz, rendel, kap, használ, igénybe vesz, valamint az áruval kapcsolatos kereskedelmi kommunikáció, ajánlat címzettje (a továbbiakban Fogyasztó). A CarScope e-mailben haladéktalanul visszaigazolja
                                                    a Felhasználó elállási nyilatkozatának megérkezését. Önt nem illeti meg az elállási jog: a) a szolgáltatás nyújtására irányuló szerződés esetében a szolgáltatás egészének teljesítését követően, ha a
                                                    vállalkozás a teljesítést a fogyasztó kifejezett, előzetes beleegyezésével kezdte meg, és a fogyasztó tudomásul vette, hogy a szolgáltatás egészének teljesítését követően felmondási jogát elveszíti;
                                                    b) olyan termék vagy szolgáltatás tekintetében, amelynek ára, illetve díja a pénzpiac vállalkozás által nem befolyásolható, 30 napos határidő alatt is lehetséges ingadozásától függ; c) olyan nem előre
                                                    gyártott termék esetében, amelyet a fogyasztó utasítása alapján vagy kifejezett kérésére állítottak elő, vagy olyan termék esetében, amelyet egyértelműen a fogyasztó személyére szabtak; d) romlandó vagy
                                                    minőségét rövid ideig megőrző termék tekintetében; e) olyan zárt csomagolású termék tekintetében, amely egészségvédelmi vagy higiéniai okokból az átadást követő felbontása után nem küldhető vissza; f)
                                                    olyan termék tekintetében, amely jellegénél fogva az átadást követően elválaszthatatlanul vegyül más termékkel; g) olyan alkoholtartalmú ital tekintetében, amelynek tényleges értéke a vállalkozás által
                                                    nem befolyásolható módon a piaci ingadozásoktól függ, és amelynek áráról a felek az adásvételi szerződés megkötésekor állapodtak meg, azonban a szerződés teljesítésére csak a megkötéstől számított harmincadik
                                                    napot követően kerül sor; h) olyan vállalkozási szerződés esetében, amelynél a vállalkozás a fogyasztó kifejezett kérésére keresi fel a fogyasztót sürgős javítási vagy karbantartási munkálatok elvégzése
                                                    céljából; i) lezárt csomagolású hang-, illetve képfelvétel, valamint számítógépes szoftver példányának adásvétele tekintetében, ha az átadást követően a fogyasztó a csomagolást felbontotta; j) hírlap,
                                                    folyóirat és időszaki lap tekintetében, az előfizetéses szerződések kivételével; k) nyilvános árverésen megkötött szerződések esetében; l) lakáscélú szolgáltatás kivételével szállásnyújtásra irányuló
                                                    szerződés, fuvarozás, személygépjármű-kölcsönzés, étkeztetés vagy szabadidős tevékenységekhez kapcsolódó szolgáltatásra irányuló szerződés esetében, ha a szerződésben meghatározott teljesítési határnapot
                                                    vagy határidőt kötöttek ki; m) a nem tárgyi adathordozón nyújtott digitális adattartalom tekintetében, ha a vállalkozás a fogyasztó kifejezett, előzetes beleegyezésével kezdte meg a teljesítést, és a
                                                    fogyasztó e beleegyezésével egyidejűleg nyilatkozott annak tudomásul vételéről, hogy a teljesítés megkezdését követően elveszíti felmondási jogát. Regisztráció, értékelés leadása és információs szolgáltatások
                                                    esetén: Indokolás nélküli felmondás: Amennyiben Ön fogyasztónak minősül, akkor a jelen Szerződés megkötésének napjától számított 30 napon belül indokolás nélkül felmondhatja a szolgáltatást. Mivel a
                                                    szolgáltatás nem díjköteles, a CarScopenak díj visszatérítési kötelezettsége nincs a Felhasználó felé ebben az esetben (és Önnek sincs a már teljesített szolgáltatásokért díjfizetési kötelezettsége a
                                                    CarScope felé). Ön a hatályos jogszabály szerinti nyilatkozatmintával, vagy erre vonatkozó egyértelmű nyilatkozata útján élhet felmondási jogával. Ön határidőben gyakorolja felmondási jogát, ha a fent
                                                    megjelölt határidő lejárta előtt elküldi felmondási nyilatkozatát. Felmondási szándékát tartalmazó egyértelmű nyilatkozatát (vagy a nyilatkozatmintát kitöltve) köteles eljuttatni (például postán, vagy
                                                    elektronikus úton küldött levél útján) a CarScope Szerződés elején megjelölt címére vagy a gumi@CarScope.hu email címre. Ha nem kezdődött meg a szolgáltatás nyújtása, akkor indokolás nélküli elállásra
                                                    jogosult a fogyasztónak minősülő Felhasználó, amelyre az indokolás nélküli felmondás szabályai vonatkoznak. Ön tudomásul veszi és nyilatkozik, hogy a szolgáltatás egészének teljesítését követően, vagy
                                                    nem tárgyi adathordozón nyújtott digitális adattartalom tekintetében a teljesítés megkezdését követően (tekintettel arra, hogy a CarScope a Felhasználó kifejezett, előzetes beleegyezésével kezdte meg
                                                    a teljesítést) a fenti indokolás nélküli felmondási jogát elveszíti. Regisztráció, értékelés leadása és információs szolgáltatások esetén felmondási szabályok: Ön az CarScopenak szóló egyoldalú, írásbeli,
                                                    indoklás nélküli nyilatkozattal bármikor felmondhatja a jelen Szerződést. A CarScope azonnali hatállyal felmondhatja a jelen Szerződést és törölheti vagy felfüggesztheti az Ön Regisztrációját vagy értékelését
                                                    különösen (de nem kizárólagosan) az alábbi esetekben: ha Ön a jelen Szerződés (vagy a magatartási irányelvek, ha van ilyen) rendelkezéseit megszegi; ha az Ön magatartása erre alapos indokot ad, illetve
                                                    más módon kárt okoz; ha Ön a Webáruházat, illetve a szolgáltatásokat nem rendeltetésszerűen használja; ha Ön a hatályos jogszabályok vagy a szerződési feltételek által szabályozott, a szellemi tulajdonra
                                                    vonatkozó feltételeket megszegi, vagy azokat más módon megsérti; ha a CarScope a szolgáltatásokat megszünteti. 8. Teljesítés körülményei Házhoz szállítás: A CarScope a megrendelt terméket belföldön 1390Ft/db
                                                    áron szállítja házhoz (1 darab gumi vásárlása esetén is). A kiszállítás 1- 5 munkanap. Ön a kiszállítás időpontjában köteles a termék épségét ellenőrizni, és az átvételi elismervény vagy számla aláírásával
                                                    igazolni a hiánytalan és sérülésmentes kiszállítás teljesítését. Hétköznap 8 és 17 óra között van kiszállítás. Legtöbb abroncsunkat a GLS futárszolgálat szállítja. Legegyszerűbb és leghatékonyabb módja
                                                    a kapcsolatfelvételnek az e-mail küldés: info@gls-hungary.com-ra. Itt jelezheti, ha címmódosítást, vagy ütemezett kiszállítást szeretne kérni. GLS Ügyfélszolgálat: e-mail: info@gls-hungary.com GLS: Ügyfélszolgálat:
                                                    (Minden nap: 7:00-18:00), e-mail: info@gls-hungary.com Regisztrációra, értékelésre vonatkozó speciális szabályok: A CarScope köteles a regisztráció megtörténtétől vagy az értékelés leadásától haladéktalanul
                                                    biztosítani Önnek az érintett szolgáltatásokat. 9. CarScope jogai, magatartási irányelvek A CarScope fenntartja a jogot (de nem vállal kötelezettséget), hogy az Ön kilétét ellenőrizze, a félrevezető
                                                    azonosító adatok elkerülése és a tartalmak használata érdekében és ezzel kapcsolatban a CarScope jogosult az Ön hozzáférését az ellenőrzési folyamat lezárásáig korlátozni. A CarScope fenntartja magának
                                                    a jogot (de nem köteles arra), hogy kijavítsa a Weboldalon felmerülő hibákat. Jelenleg nincs a fogyasztókkal szembeni tisztességtelen kereskedelmi gyakorlat tilalmára vonatkozó, a Weboldal használatára
                                                    vonatkozó magatartási kódex, magatartási irányelv. A magatartási irányelvek a Weboldal használata során azt a célt szolgálják, hogy a CarScope a jogszabályi előírások betartatásán túl etikai és más magatartási
                                                    normákat szabályozzon. Azonban a CarScope fenntartja a jogot (de nem vállal kötelezettséget), hogy a Felhasználóra vonatkozó magatartási irányelveket határozzon meg, tegyen közzé, vagy változtasson meg
                                                    a jövőben, a jelen Szerződés módosítására vonatkozó szabályoknak megfelelően. 10. Felelősségkorlátozás ÖN SAJÁT FELELŐSSÉGÉRE HASZNÁLJA A WEBOLDALT ÉS A WEBÁRUHÁZAT. A CarScope KIZÁR MINDEN FELELŐSSÉGET
                                                    AZ EGYES FELHASZNÁLÓ ÁLTAL TANÚSÍTOTT MAGATARTÁSÉRT. A CarScope NEM SZAVATOL A WEBOLDAL ÉS A WEBÁRUHÁZ HASZNÁLHATÓSÁGÁÉRT, HIBAMENTESSÉGÉÉRTÉS MŰKÖDŐKÉPESSÉGÉÉRT, FELHASZNÁLÓI ELVÁRÁSOKNAK VALÓ MEGFELELÉSÉÉRT,
                                                    A WEBÁRUHÁZHASZNÁLATÁVAL ŐRZÖTT VAGY ELKÜLDÖTT ADAT TÖRLŐDÉSÉÉRT, MEGRONGÁLÓDÁSÁÉRT, SEM EZEK ÉS AMŰKÖDTETŐ SZERVER BIZTONSÁGÁÉRT ÉS A FELHASZNÁLÓ ESZKÖZEIBEN KELETKEZŐ KÁROKÉRT. A CarScope NEM ELLENŐRZI,
                                                    ILLETVE NEM VÁLLAL FELELŐSSÉGET AZOKÉRT AZ ESETLEGESKÖVETKEZMÉNYEKÉRT, AMELYEK ABBÓL KÖVETKEZNEK, HOGY AZ ÖN SZEMÉLYES JOGA, LAKÓHELYE VAGYTARTÓZKODÁSI HELYE SZERINT HATÁLYOS ÉS ÉRVÉNYES JOGSZABÁLYOK
                                                    VAGY EGYÉB VALLÁSI, TÁRSADALMIELŐÍRÁSOK TILALMAZZÁK VAGY KORLÁTOZZÁK A WEBOLDAL, A WEBÁRUHÁZ, VAGY AZ AZOKHOZ HASONLÓEGYÉB WEBÁRUHÁZ IGÉNYBEVÉTELÉT. A CarScope NEM FELELŐS AZ ÉRDEKKÖRÉN KÍVÜL ÁLLÓ OKBÓL
                                                    KIFOLYÓLAG ELŐÁLLT ÜZEMSZÜNET,ELÉRHETETLENSÉG MIATT, A WEBÁRUHÁZ IGÉNYBEVÉTELÉHEZ SZÜKSÉGES INTERNETKAPCSOLATELMARADÁSÁÉRT VAGY AZ AZT ÉRINTŐ HATÓSÁGI VAGY EGYÉB OKBÓL FAKADÓ KORLÁTOZÁSOKÉRT. A CarScope
                                                    KIZÁRJA FELELŐSSÉGÉT AZ ADATBEVITELI ÉS MEGJELENÍTÉSI HIBÁKÉRT, VAGY A TÉVESENFELTÜNTETETT ÁRAKÉRT. 11. Szavatosság és jótállás Kellékszavatosság Ön a CarScope hibás teljesítése esetén velünk szemben
                                                    kellékszavatossági igényt érvényesíthet a Polgári Törvénykönyv szabályai szerint. Ön - választása szerint-az alábbi kellékszavatossági igényekkel élhet: Kérhet kijavítást vagy kicserélést, kivéve, ha
                                                    az ezek közül az Ön által választott igény teljesítése lehetetlen vagy a vállalkozás számára más igénye teljesítéséhez képest aránytalan többletköltséggel járna. Ha a kijavítást vagy a kicserélést nem
                                                    kérte, illetve nem kérhette, úgy igényelheti az ellenszolgáltatás arányos leszállítását vagy a hibát a vállalkozás költségére Ön is kijavíthatja, illetve mással kijavíttathatja vagy - végső esetben -
                                                    a szerződéstől is elállhat. Választott kellékszavatossági jogáról egy másikra is áttérhet, az áttérés költségét azonban Ön viseli, kivéve, ha az indokolt volt, vagy arra a vállalkozás adott okot. Ön
                                                    köteles a hibát annak felfedezése után haladéktalanul, de nem később, mint a hiba felfedezésétől számított kettő hónapon belül közölni. Ugyanakkor felhívjuk a figyelmét, hogy a Szerződés teljesítésétől
                                                    számított két éves elévülési határidőn túl kellékszavatossági jogait már nem érvényesítheti. Ön a CarScopeval szemben érvényesítheti kellékszavatossági igényét. A teljesítéstől számított hat hónapon
                                                    belül a kellékszavatossági igénye érvényesítésének a hiba közlésén túl nincs egyéb feltétele, ha Ön igazolja, hogy a terméket, a CarScope nyújtotta. A teljesítéstől számított hat hónap eltelte után azonban
                                                    már Ön köteles bizonyítani, hogy az Ön által felismert hiba már a teljesítés időpontjában is megvolt. Termékszavatosság Webáruházban termék megrendelésének esetén: A megrendelt termék hibája esetén Ön
                                                    - választása szerint – fenti kellékszavatossági vagy termékszavatossági igényt érvényesíthet. Termékszavatossági igényként Ön kizárólag a hibás termék kijavítását vagy kicserélését kérheti. A termék
                                                    akkor hibás, ha az nem felel meg a forgalomba hozatalakor hatályos minőségi követelményeknek vagy pedig, ha nem rendelkezik a gyártó által adott leírásban szereplő tulajdonságokkal. Termékszavatossági
                                                    igényét Ön a termék gyártó általi forgalomba hozatalától számított két éven belül érvényesítheti. E határidő elteltével e jogosultságát elveszti. Termékszavatossági igényét kizárólag a termék gyártójával
                                                    vagy forgalmazójával szemben gyakorolhatja. A termék hibáját termékszavatossági igény érvényesítése esetén Önnek kell bizonyítania. A gyártó (forgalmazó) kizárólag akkor mentesül termékszavatossági kötelezettsége
                                                    alól, ha bizonyítani tudja, hogy: a terméket nem üzleti tevékenysége körében gyártotta, illetve hozta forgalomba, vagy a hiba a tudomány és a technika állása szerint a forgalomba hozatal időpontjában
                                                    nem volt felismerhető vagy a termék hibája jogszabály vagy kötelező hatósági előírás alkalmazásából ered. A gyártónak (forgalmazónak) a mentesüléshez elegendő egy okot bizonyítania. Felhívjuk figyelmét,
                                                    hogy ugyanazon hiba miatt kellékszavatossági és termékszavatossági igényt egyszerre, egymással párhuzamosan nem érvényesíthet. Termékszavatossági igényének eredményes érvényesítése esetén azonban a kicserélt
                                                    termékre, illetve kijavított részre vonatkozó kellékszavatossági igényét a gyártóval szemben érvényesítheti. Jótállás Webáruházban termék megrendelésének esetén: Hibás teljesítés esetén a Polgári Törvénykönyv,
                                                    illetve a 151/2003 (IX.22.) Kormányrendelet alapján 1 év jótállásra köteles a CarScope. A jótállási jegyet a CarScope a termékkel együtt adja át a Felhasználónak. A termék meghibásodása miatt a vásárlástól
                                                    számított három munkanapon belül érvényesít csereigényt, a vállalkozás nem hivatkozhat a Polgári Törvénykönyvről szóló 2013. évi V. törvény 6:159. § (2) bekezdés a) pontja értelmében aránytalan többletköltségre,
                                                    hanem köteles a fogyasztási cikket kicserélni, feltéve, hogy a meghibásodás a rendeltetésszerű használatot akadályozza. Önt a következő jogok és illetik meg jótállás alapján: Amennyiben a jótállás kérése
                                                    helytálló, a vásárló kérheti a termék cseréjét, vagy javítását. Amennyiben nem áll módunkban a termék cseréje készlethiány miatt, a javítás lehetősége áll fenn. Lehetőség van az árleszállítás igénylésére,
                                                    illetve a vételár visszatérítésére abban az esetben, ha sem a termék cseréjére sem a javítására nincs lehetőség. A jótállásból eredő jogok - a jótállási jeggyel érvényesíthetők. A jótállási jegy szabálytalan
                                                    kiállítása vagy a jótállási jegy fogyasztó rendelkezésére bocsátásának elmaradása a jótállás érvényességét nem érinti. A jótállási jegy rendelkezésére bocsátásának elmaradása esetén a szerződés megkötését
                                                    bizonyítottnak kell tekinteni, ha az ellenérték megfizetését igazoló bizonylatot - az általános forgalmi adóról szóló törvény alapján kibocsátott számlát vagy nyugtát – Ön bemutatja. Ebben az esetben
                                                    a jótállásból eredő jogok az ellenérték megfizetését igazoló bizonylattal érvényesíthetők. A rögzített bekötésű, illetve a 10 kg-nál súlyosabb, vagy tömegközlekedési eszközön kézi csomagként nem szállítható
                                                    fogyasztási cikket - a járművek kivételével - az üzemeltetés helyén kell megjavítani. A jogok érvényesítésének határideje: 1 év. A jótállási határidő a termék Felhasználó részére történő átadása napjával
                                                    kezdődik. A vállalkozás jótállási kötelezettsége alól csak abban az esetben mentesül, ha bizonyítja, hogy a hiba oka a teljesítés után keletkezett. Felhívjuk a figyelmét, hogy ugyanazon hiba miatt kellékszavatossági
                                                    és jótállási igényt, illetve termékszavatossági és jótállási igényt egyszerre, egymással párhuzamosan nem érvényesíthet, egyébként viszont Önt a jótállásból fakadó jogok a termék és kellékszavatossági
                                                    jogosultságoktól függetlenül megilletik. A jótállási igény nem érvényesíthető: helytelen tárolás miatti hibákra szerelési és üzemeltetési hibákra a jármű vagy tartozékainak hibája miatt keletkezett hibákra
                                                    (pl.: futómű helytelen beállítsa, stb.) baleset, rongálás vagy egyéb külső behatások okozta hibákra javított abroncsokra nem rendeltetés szerint használt abroncsokra (versenyzés, sebességi vagy egyéb
                                                    kísérleti használat közben bekövetkező hibákra) A jótállási bejelentés minden esetben írásban történik, melyet vagy postai úton (a fenti címünkre) vagy emailen küldhet el. Teljes garancia szolgáltatás:
                                                    Teljes garancia szolgáltatásunk független a jogszabály által kötelező jótállástól. A teljes garancia csak a webáruházban PEX logóval megjelölt termékekre vehető igénybe. Ennek keretén belül bizonyos
                                                    termékekre Continental, Semperit és Barum személy vagy off road, 4 darab vásárlása esetén, jótállást vásárolhat minden olyan külső sérülésre, melyre a fenti jótállás nem terjed ki. Így pl. a külső sérülésekre,
                                                    mint padka, kátyú miatt megsérült gumiabroncs, kiszúrták, kivágták, megrongálták, defekt stb. A teljes garancia időtartama: 1 év garancia 3 milliméter kopásig teljeskörű garanciát biztosít. A teljes
                                                    garancia szolgáltatás csak PEX partnertnél történő felszerelés esetén elérhető. Amennyiben a gumiabroncsa sérülés, rongálás, vagy egyéb külső mechanikai eredetű sérülés miatt tönkremegy, kicseréljük
                                                    a maradvány profilmélység arányában. A teljes garancia elszámolás az alábbiak szerint történik, a kedvezmény az ajánlott fogyasztói árból számolódik: vásárlástól számított 8 napig 100% kedvezmény 7 mm
                                                    vagy nagyobb 80% kedvezmény 6 mm vagy nagyobb 50% kedvezmény 5 mm vagy nagyobb 40% kedvezmény 4 mm vagy nagyobb 30% kedvezmény 3 mm vagy nagyobb 20% kedvezmény A teljes garancia teljes üzletszabályzata
                                                    a www.gumigarancia.hu oldalon olvasható. A teljes garancia szolgáltatás ára bruttó 1200 Ft (tartalmazza a 27 % Áfát). A teljes garancia igénybevételével a vásárló a pneus expert Teljes Garancia Üzletszabályzatát
                                                    elfogadja. Üzletszabájzat itt(pneus expert Teljes Garancia Üzletszabályzat) olvasható. Garanciális ügyintézés: Hívja ügyfélszolgálatunkat és mi útbaigazítjuk, vagyírjon egy e-mailt a problémáról. A CarScope
                                                    kizárólag új abroncsok értékesítésével foglalkozik. Mindent megteszünk azért, hogy minimálisra csökkentsük a minőségi problémák számát, ám a termék jellegéből adódóan mégis előfordulhatnak sérülések
                                                    (gyártás, szállítás, szerelés). Ha Önnek is ilyen jellegű problémája van, kérjük a következők szerint járjon el: Ha hibásnak látja az abroncsot, ne vegye át a szállító partnerünktől! Ha mégis átvette,
                                                    de még nem szereltette fel, akkor: készítsen fotót a hibás termékről (minél többet, minél részletesebbet, lehetőleg a hiba okára koncentrálva) a fotókat a rendelése azonosítójával együtt küldje el a:
                                                    gumi@CarScope.hu e-mail címre, és röviden foglalja össze a sérüléseket kollégáink fel fogják hívni és tájékoztatják a teendőkről és az elszállítást végző futár érkezésének lehetséges időpontjáról Ha
                                                    átvette és fel is szereltette az abroncsot, felnit, futárt küldünk érte és bevizsgáljuk. Ilyen esetben a következőket javasoljuk: készítsen fotót a hibás termékről (minél többet, minél részletesebbet,
                                                    lehetőleg a hiba okára koncentrálva) a garanciális problémáknak jelentős része a nem hozzáértő, elkapkodott szerelésből adódik, ennek a felelősségnek a kizárása végett - javasoljuk, hogy egy másik, független
                                                    gumiszervizbe vigye el az abroncsokat és kérjen szakvéleményt róluk ha ők is minőségi problémát látnak, azaz nem szereléskor sérült meg az abroncs, akkor a fotókat a rendelése azonosítójával együtt küldje
                                                    el a: gumi@CarScope.hu e-mail címre, és röviden foglalja össze a problémáját kollégáink fel fogják hívni és tájékoztatják a teendőkről és az elszállítást végző futár érkezésének lehetséges időpontjairól
                                                    A garanciális ügyintézést független szakértő végzi minden esetben. Az elszállítástól számított 1-4 hetet (szezon függvénye) vesz általában igénybe a bevizsgálás. Írásban is értesítjük az abroncsok állapotának
                                                    eredményéről. A garanciális ügyintézés érdekében, kérjük a vásárlás tényét igazoló számlát (vagy annak másolatát) szíveskedjen megőrizni. 12. Tartalmak Ön teljes körű felelősséggel tartozik azért a tartalomért,
                                                    információért, adatokért, amit a Weboldal használata, illetve a Megrendelés során megad, megjelenít, ideértve, de nem kizárólagosan a személyes adatokat, személyes üzeneteket, érdeklődési irányultságot,
                                                    vagy egyéb megjegyzést és ezek bármelyikének következményeit is. Amennyiben Ön a Weboldalra bármilyen tartalmat, így bármely adatot, információt, szerzői jog tárgyát képező művet, műpéldányt feltölt,
                                                    azzal nyilatkozik egyben arról is, hogy a CarScope bármilyen díjfizetés nélkül felhasználhatja azokat. A feltöltést végző Felhasználó az adat, információ, bármely szerzői jog tárgyát képező mű, műpéldány
                                                    feltöltésével büntetőjogi felelőssége tudatában nyilatkozik, hogy rendelkezik a vonatkozó felhasználói, szerzői és egyéb jogokkal, és jogosult azt a CarScope rendelkezésére bocsátani. A CarScope fenntartja
                                                    a jogot (de nem vállal kötelezettséget) arra, hogy ellenőrizze az Ön által elhelyezett, megjelenített, közzétett tartalmakat, információkat. A CarScope, mint közvetítő szolgáltató nem felelős az általa
                                                    továbbított információért. Ön jelen Szerződés elfogadásával hozzájárul, hogy a CarScope minden értesítés és ellenszolgáltatás, kártérítés nélkül eltávolítsa a Weboldalról az olyan tartalmakat, vagy ezekre
                                                    történő hivatkozást (linket), amelyeket a kizárólagos döntési jogkörében a Szerződéssel ellentétesnek, jogellenesnek, más személyiségi jogába ütközőnek, tisztességtelennek, fenyegetőnek, becsületsértőnek,
                                                    rágalmazónak, obszcénnek vagy egyébként kifogásolhatónak talál. A CarScopenak a tartalmak eltávolítására vonatkozó joga kiterjed az olyan tartalmakra is, melyek a CarScope saját belátása vagy harmadik
                                                    személy igénybejelentése szerint megsértik vagy sérthetik bármely személy szellemi alkotáshoz fűződő jogát, szerzői és szomszédos vagy egyéb tulajdonosi jogát vagy a jelen Szerződésben foglalt rendelkezéseket
                                                    vagy személyiségi, kegyeleti jogait. Amennyiben fizetés ellenében beszerzett/feltöltött tartalmat töröl a CarScope jelen szakasz szerint, annak ellenértékét sem köteles a Felhasználónak visszatéríteni.
                                                    Ön vállalja, hogy más alkalmazásba/weboldalra tartalmakat a Weboldalról nem tölt le, nem módosít és nem tölt fel. 13. Szerzői jogok A Weboldal tartalma - ellenkező megjelölés hiányában - a CarScope szellemi
                                                    tulajdonát képezi, vagy a szerző, szellemi tulajdonnal rendelkező személy a Weboldalon történő megjelentetésre és felhasználásra hozzájárulását adta a CarScopenak. Ön a Weboldal tartalmát (zene, szöveg,
                                                    képek, egyéb tartalmak) kizárólag személyes, nem kereskedelmi célra használhatja, feltéve, hogy az anyago(ko)n semmilyen módosítást, változtatást nem végez, és a védjegyre vagy szerzői jogra vonatkozó
                                                    adatokat sem törli vagy módosítja. Ellenkező kikötés hiányában a Weboldal tartalma nem többszörözhető, terjeszthető, adható elő nyilvánosan, vagy közvetíthető a nyilvánossághoz más szervezet közbeiktatásával
                                                    sem, illetve nem dolgozható át vagy adható át kereskedelmi célból a CarScope külön, előzetes, kifejezett, írásos beleegyezése nélkül. A CarScope vagy szerző, illetve szellemi tulajdonnal rendelkező fenntartja
                                                    a Weboldalon a rendelkezése alatt álló anyagok vonatkozásában a szűrés, keresés, böngészés vagy megtekintés során letöltött anyagokra vonatkozó tulajdonjogát és szerzői jogait. A CarScope fenntartja
                                                    magának a jogot (de nem vállal kötelezettséget), hogy a Weboldalt saját döntése szerint szerkeszthesse, saját igényei szerint alakíthassa, arra tartalmat feltöltsön, vagy töröljön. 14. Adatvédelem Ön
                                                    a Megrendelésével kifejezetten tudomásul veszi és hozzájárulását adja, hogy a személyes adatait a CarScope a Weboldalon elérhető Adatkezelési Tájékoztatójának megfelelően kezelje. 15. Ügyfélszolgálat,
                                                    panaszkezelés A CarScope a Weboldalt és a Webáruházat érintő Felhasználói megkeresések kezelésére hétköznap 10 és 15 óra között e-mailen keresztül elérhető ügyfélszolgálatot biztosít a gumi@CarScope.hu
                                                    e-mail címen, illetve a +36 1 / 490 01 18 telefonszámon. A CarScope e-mailben vagy postai úton érkezett panaszra köteles érdemben írásban válaszolni és 30 napon belül a Felhasználó részére elküldeni.
                                                    Amennyiben a panaszt nem tartja jogosnak, úgy azt köteles megindokolni, továbbá köteles írásban tájékoztatást adni, a Felhasználó részére, hogy panaszának jellege szerint, mely panaszügyintézési lehetőségek
                                                    állnak rendelkezésére. Az eladó a panaszról felvett jegyzőkönyvet és a válasz másolati példányát 5 évig köteles megőrizni. A fogyasztók a fogyasztóvédelmi panaszaikat a lakhelyükhöz legközelebb eső illetékes
                                                    járási hivatala fogyasztóvédelemmel foglalkozó munkatársainál is bejelenthetik. A panasz elbírálását követően szükség esetén lefolytatják a hatósági eljárást. A másodfokú hatósági feladatok országos
                                                    illetékességgel a Pest megyei Kormányhivatalhoz kerültek. A járási hivatalok listája az alábbi linken található: 16. 30 napos elállás A tőlünk rendelt, fel nem szerelt gumiabroncsok és felnik esetében,
                                                    amennyiben bármilyen okból kifolyólag nem elégedett a megrendelt termékekkel, az átvételtől számított 30 naptári napon belül elállhat a vásárlástól. Ilyenkor a visszaszállítási költség az elállást indítványozó
                                                    felet terheli. A 30 napon belüli termék visszaküldésének lehetősége részben lefedi a fogyasztók 14 napon belül gyakorolható elállási jogát. 17. Irányadó jog és jogviták A jelen Szerződésre a magyar jog
                                                    az irányadó. A jelen Szerződésben nem szabályozott kérdésekben a Polgári Törvénykönyvről szóló 2013. évi V. törvény, valamint az elektronikus kereskedelmi szolgáltatásokról szóló 2001. évi CVIII. törvény
                                                    vonatkozó rendelkezései az irányadóak. A fogyasztónak minősülő Felhasználó a közte és a CarScope közötti szerződés megkötésével és teljesítésével kapcsolatos vitás ügyeik rendezésére bírósági eljáráson
                                                    kívüli rendezése céljából a következő békéltető testületekhez is fordulhatnak. A CarScopenak együttműködési kötelezettsége van a békéltető testületi eljárásban. További információt itt talál: A vállalkozás
                                                    székhelye szerint illetékes békéltető testület: Szabolcs-Szatmár-Bereg Megyei Békéltető Testület Címe: 4400 Nyíregyháza, Széchenyi u. 2. Telefonszáma: (42) 311-544, (42) 420-180 Fax száma: (42) 420-180
                                                    Elnök: Görömbeiné dr. Balmaz Katalin E-mail cím: bekelteto@szabkam.hu A békéltető testületek listája, ahonnan kiválaszthatja az Ön lakóhelye szerinti testületet: Baranya Megyei Békéltető Testület Címe:
                                                    7625 Pécs, Majorosy Imre u. 36. Levelezési címe: 7602 Pécs, Pf. 109. Telefonszáma: (72) 507-154 Fax száma: (72) 507-152 Elnök: Dr. Bodnár József E-mail cím: bekelteto@pbkik.hu Bács-Kiskun Megyei Békéltető
                                                    Testület Címe: 6000 Kecskemét, Árpád krt. 4. Telefonszáma: (76) 501-525, (76) 501-500 Fax száma: (76) 501-538 Elnök: Dr. Horváth Zsuzsanna E-mail cím: bekeltetes@bacsbekeltetes.hu Békés Megyei Békéltető
                                                    Testület Címe: 5600 Békéscsaba, Penza ltp. 5. Telefonszáma: (66) 324-976, 446-354, 451-775 Fax száma: (66) 324-976 Elnök: Dr. Bagdi László E-mail cím: bekeltetes@bmkik.hu; bmkik@bmkik.hu Borsod-Abaúj-Zemplén
                                                    Megyei Békéltető Testület Címe: 3525 Miskolc, Szentpáli u. 1. Telefonszáma: (46) 501-091, 501-870 Fax száma: (46) 501-099 Elnök: Dr. Tulipán Péter E-mail cím: bekeltetes@bokik.hu Budapesti Békéltető
                                                    Testület Címe: 1016 Budapest, Krisztina krt. 99. Telefonszáma: (1) 488-2131 Fax száma: (1) 488-2186 Elnök: Dr. Baranovszky György E-mail cím: bekelteto.testulet@bkik.hu Csongrád Megyei Békéltető Testület
                                                    Címe: 6721 Szeged, Párizsi krt. 8-12. Telefonszáma: (62) 554-250/118 mellék Fax száma: (62) 426-149 Elnök: Dr. Horváth Károly E-mail cím: info@csmkik.hu Fejér Megyei Békéltető Testület Címe: 8000 Székesfehérvár,
                                                    Hosszúséta tér 4-6. Telefonszáma: (22) 510-310 Fax száma: (22) 510-312 Elnök: Dr. Vári Kovács József E-mail cím: fmkik@fmkik.hu; bekeltetes@fmkik.hu Győr-Moson-Sopron Megyei Békéltető Testület Címe:
                                                    9021 Győr, Szent István út 10/a. Telefonszáma: (96) 520-202; 520-217 Fax száma: (96) 520-218 Elnök: Horváth László E-mail cím: bekelteto@gymskik.hu Hajdú-Bihar Megyei Békéltető Testület Címe: 4025 Debrecen,
                                                    Petőfi tér 10. Telefonszáma: (52) 500-735 Fax száma: (52) 500-720 Elnök: Dr. Hajnal Zsolt E-mail cím: hbkik@hbkik.hu Heves Megyei Békéltető Testület Címe: 3300 Eger, Faiskola út 15. Levelezési címe:
                                                    3301 Eger, Pf. 440. Telefonszáma: (36) 416-660/105 mellék Fax száma: (36) 323-615 Elnök: Dr. Gordos Csaba E-mail cím: hkik@hkik.hu Jász-Nagykun-Szolnok Megyei Békéltető Testület Címe: 5000 Szolnok, Verseghy
                                                    park 8. Telefonszáma: (56) 510-610 Fax száma: (56) 370-005 Elnök: Dr. Lajkóné dr. Vígh Judit E-mail cím: kamara@jnszmkik.hu Komárom-Esztergom Megyei Békéltető Testület Címe: 2800 Tatabánya, Fő tér 36.
                                                    Telefonszáma: (34) 513-010 Fax száma: (34) 316-259 Elnök: Dr. Rozsnyói György E-mail cím: kemkik@kemkik.hu Nógrád Megyei Békéltető Testület Címe: 3100 Salgótarján, Alkotmány út 9/a Telefonszám: (32)
                                                    520-860 Fax száma: (32) 520-862 Elnök: Dr. Pongó Erik E-mail cím: nkik@nkik.hu Pest Megyei Békéltető Testület Címe: 1055 Budapest Kossuth tér 6-8. Telefonszáma: (1)-474-7921 Fax száma: (1)-474-7921 Elnök:
                                                    dr. Csanádi Károly E-mail cím: pmbekelteto@pmkik.hu Somogy Megyei Békéltető Testület Címe: 7400 Kaposvár, Anna utca 6. Telefonszáma: (82) 501-000 Fax száma: (82) 501-046 Elnök: Dr. Novák Ferenc E-mail
                                                    cím: skik@skik.hu Szabolcs-Szatmár-Bereg Megyei Békéltető Testület Címe: 4400 Nyíregyháza, Széchenyi u. 2. Telefonszáma: (42) 311-544, (42) 420-180 Fax száma: (42) 420-180 Elnök: Görömbeiné dr. Balmaz
                                                    Katalin E-mail cím: bekelteto@szabkam.hu Tolna Megyei Békéltető Testület Címe: 7100 Szekszárd, Arany J. u. 23-25. Telefonszáma: (74) 411-661 Fax száma: (74) 411-456 Elnök: Dr. Gáll Ferenc E-mail cím:
                                                    kamara@tmkik.hu Vas Megyei Békéltető Testület Címe: 9700 Szombathely, Honvéd tér 2. Telefonszáma: (94) 312-356 Fax száma: (94) 316-936 Elnök: Dr. Kövesdi Zoltán E-mail cím: vmkik@vmkik.hu Veszprém Megyei
                                                    Békéltető Testület Címe: 8200 Veszprém, Budapest u. 3. Telefonszáma: (88) 429-008 Fax száma: (88) 412-150 Elnök: Dr. Vasvári Csaba E-mail cím: info@bekeltetesveszprem.hu Zala Megyei Békéltető Testület
                                                    Címe: 8900 Zalaegerszeg, Petőfi utca 24. Telefonszáma: (92) 550-514 Fax száma: (92) 550-525 Elnök: Dr. Molnár Sándor E-mail cím: zmkik@zmkik.hu; zmbekelteto@zmkik.hu ONLINE VITARENDEZÉS: A jelen szerződéshez
                                                    kapcsolódó megrendelésekből eredő fogyasztói jogviták rendezéséhez az alább megjelölt linken online vitarendezési platform is elérhető: A felek megállapodnak, hogy az áruk adásvételéről szóló nemzetközi
                                                    egyezmények alkalmazását jelen Szerződés tekintetében kizárják, így pl. de nem kizárólagosan az Egyesült Nemzeteknek az áruk nemzetközi adásvételi szerződéseiről szóló, Bécsben, az 1980. évi április
                                                    hó 11. napján kelt egyezményét. 17. Egyéb Jelen Szerződés az egyetlen és teljes szerződés a CarScope és Ön között a Megrendelésre vonatkozóan és felülírminden, a Megrendelés tárgyában a felek között
                                                    született korábbi akár szóbeli, akár írásos megállapodást, illetvegyakorlatot. Amennyiben bármelyik fél részben, vagy egészben nem teljesíti a Szerződésből fakadó kötelezettségeit, vagykésedelembe esik
                                                    azok teljesítésével kapcsolatban, az nem értelmezhető úgy, hogy a másik fél lemondott a nemteljesítő vagy késedelembe esett fél javára ezeknek a kötelezettségeknek a teljesítéséről. A Szerződésnek nem
                                                    válik tartalmává semmilyen, az adott üzletágban a hasonló jellegű szerződés alanyai általszéles körben ismert és rendszeresen alkalmazott szokás, amely a Szerződésben nem szerepel. Ön tudomásul veszi
                                                    és hozzájárulását adja ahhoz, hogy a CarScope a Szerződést harmadik személyre átruházza,vagy a Szerződésből eredő követelését engedményezze. Az ilyen vállalkozások jogosultak a jelen Szerződésminden
                                                    olyan rendelkezését közvetlenül kikényszeríteni, azokra hivatkozni, amelyek rájuk nézve valamilyenelőnyt (vagy jogosultságot) tartalmaznak. A Szerződés nem érinti azokat a jogokat, amelyek Önt fogyasztóként
                                                    megilletik, illetve azokat, amelyeket Ön vagya CarScope szerződésben nem változtathat meg, illetve amelyekről Ön szerződésben nem mondhat le. A Szerződés rendelkezései közül egy sem jogosítja fel Önt
                                                    arra, hogy használja a CarScope kereskedelmi nevét,védjegyeit, megjelöléseit, emblémáit, logóit, domain neveit és egyéb megkülönböztető jegyeit, kivéve, ha ésahogyan Ön és a CarScope között létrejött
                                                    írásbeli megállapodás erre lehetőséget ad. Amennyiben az Ön országa szerinti hatályos jogszabályok a jelen Szerződés rendelkezéseinél szigorúbb és eltéréstnem engedő szabályokat rendelnek a felek részére
                                                    a Webáruház igénybevétele és a Weboldal használatakapcsán, Ön vállalja, hogy azoknak tesz eleget, azonban egyben tudomásul is veszi, hogy a CarScope felelősségéta Szerződésre irányadó jog szerinti jogszabályok
                                                    alapozzák meg, és felelősségét a vonatkozó jogszabályok alapjánlehetséges legmagasabb mértékig kizárja az Ön országa szerinti rendelkezések be nem tartásáért. Amennyiben a jelen Szerződés meghatározott
                                                    része vonatkozó jogszabályi rendelkezés vagy bírósági döntésalapján érvénytelen, jogellenes vagy végrehajthatatlan, a Szerződés fennmaradó részei hatályban maradnakazzal, hogy a Szerződés úgy módosul,
                                                    hogy a törölt rendelkezés(ek) a lehető legteljesebb mértékbenérvényesüljenek. © CarScope Kft. / Jambrik Ügyvédi Iroda (2018) 2018. január 19 napjáig hatályos szöveg
                                                </p>
                                            </div>
                                            <p align="center"><button type="submit elfogad" class="submit" data-dismiss="modal">Elfogadom</button></p>
                                        </div>
                                    </div>
                                </div>

    </body>

    <%- include('includes/footer.ejs') %>