<%- include('includes/header.ejs') %>
    <link rel="stylesheet" href="/css/fooldal.css">
    <link rel="stylesheet" href="/css/buttons.css">
    <link rel="stylesheet" href="/css/card.css">
    <script src="/js/fooldal.js" defer></script>

    <body>
        <%- include('includes/navbar_vendeg.ejs') %>
            <h1 class="font">Kérdezze le a járművet</h1>
            <form action="/vendeg" method="post">
                <div>
                    <input maxlength='7' value='ABC-123' class="rendszam" id="rendszam" name="rendszam" type="text" />
                </div>
                <div class="centered keresBTN">
                    <button type="submit" class="join_btn joinform">Keresés</button>
                </div>

                <% if (lekerderedm_vendeg !=undefined) {%>
                    <div class="card" style="background-image: url('<%= lekerderedm_vendeg.Kepcim %>');">
                        <div class="card-body" style="display: block;">
                            <div class="card-container">
                                <div class="mobile-only image-div" style="background-image: url('<%= lekerderedm_vendeg.Kepcim %>');">
                                </div>
                                <div class="card-container-left">
                                    <h1 class="card-title">
                                        <%= lekerderedm_vendeg.Gyarto %>
                                            <%= lekerderedm_vendeg.Tipus %>
                                    </h1>
                                    <h5>Évjárat:
                                        <%= lekerderedm_vendeg.Evjarat %>
                                    </h5>
                                    <h5>Állapot:
                                        <%= lekerderedm_vendeg.Allapot %>
                                    </h5>
                                    <h5>Futott km:
                                        <%= lekerderedm_vendeg.Futottkm %>
                                    </h5>

                                </div>

                            </div>
                        </div>
                        <% } %>
                            <% if (lekerderedm_vendeg==undefined && VendegKerdezettER==true) {%>
                                <div class="infokepdiv">
                                    <img class="infokep" src="img/felkiáltójel.png" alt="Image Title" />
                                </div>
                                <div>
                                    <h1 class="nincs_talalat">Sajnos az adatbázisunkban nincs
                                        ilyen rendszámú
                                        autó, próbáljon meg másikat vagy látogasson vissza később,
                                        adatbázisunk
                                        folyamatosan frissül!</h1>
                                </div>

                                <% } %>
            </form>
    </body>
    <%- include('includes/footer.ejs') %>